section.canhcam-rp-2
	.container
		.row
			.col
				.block-title.text-center
					h1 chương trình đào tạo
					p Chương trình đào tạo tại Kienlongbank được xây dựng dành riêng cho các bạn trẻ khi bước vào môi trường ngân hàng của Kienlongbank, để giúp khơi nguồn những tố chất tiềm ẩn và giúp bạn trở thành những chuyên gia, nhà quản lý một cách hiệu quả và chuyên nghiệp
		.row.canhcam-card-wrapper
			.col-12.px-lg-0
				.canhcam-card
					.canhcam-card-content
						.canhcam-card-content-wrapper
							h3 Chương trình đào tạo chuyên nghiệp
							ul Định hướng:
								li Thông tin thiết yếu như giới thiệu công ty, cơ cấu tổ chức, các quy trình nhân sự, hành chính.
								li Văn hoá Kienlongbank và các quy tắc đạo tức nghề nghiệp
								li Quy trình và yêu cầu, kỹ năng chuyên môn
							
							ul Kỹ năng nâng cao: 
								li Kỹ năng giao tiếp với khách hàng, kỹ năng xử lý các tình huống trong giao dịch.
								li Kỹ năng bán hàng, xây dựng và quản lý quan hệ khách hàng
								li Kỹ năng thuyết phục và đàm phán hiệu quả
								li Kỹ năng làm việc theo nhóm

					.canhcam-card-image(bg-img='./img/recruitment/program/program_3.png')
						figure
							img.w-100.d-lg-none(src='./img/recruitment/program/program_3.png', alt='')
		.row
			.col
				.block-quote
					p Chương trình đào tạo tại Kienlongbank được xây dựng dành riêng cho các bạn trẻ khi bước vào môi trường ngân hàng của Kienlongbank, để giúp khơi nguồn những tố chất tiềm ẩn và giúp bạn trở thành những chuyên gia, nhà quản lý một cách hiệu quả và chuyên nghiệp.
						br
						|
						br
						|
					p Chương trình đào tạo tại Kienlongbank được xây dựng dành riêng cho các bạn trẻ khi bước vào môi trường ngân hàng của Kienlongbank, để giúp khơi nguồn những tố chất tiềm ẩn và giúp bạn trở thành những chuyên gia, nhà quản lý một cách hiệu quả và chuyên nghiệp
						br
						|
						br
						|
					p Chương trình đào tạo tại Kienlongbank được xây dựng dành riêng cho các bạn trẻ khi bước vào môi trường ngân hàng của Kienlongbank, để giúp khơi nguồn những tố chất tiềm ẩn và giúp bạn trở thành những chuyên gia, nhà quản lý một cách hiệu quả và chuyên nghiệp
