section.kienlong-dangnhap-1
    article
        .container
            .row
                .col-12
                    h2 Đăng nhập
            .row
                .col-lg-4
                    .login-form
                        .form-horizontal
                            .form-group
                                input(type="text",placeholder="Tên đăng nhập (*)")
                            .form-group
                                input(type="password",placeholder="Mật khẩu (*)")
                            .form-group
                                input(type="checkbox")
                                label Ghi nhớ cho lần đăng nhập sau
                            .form-group
                                input(type="submit", value="Đăng nhập")
                            .form-group
                                a(href="javascript") Quên mật khẩu
                    .no-account
                        p Bạn chưa có tài khoản ?
                        p Hãy 
                            a(href="javascript:void(0)") đăng kí 
                            | hoặc 
                            span đăng nhập bằng
                    .social-login
                        ul
                            li
                                a(href="javascript:void(0)")
                                    img(src="./img/dangnhap/facebook.png", alt="")
                                    span Facebook
                            li
                                a(href="javascript:void(0)")
                                    img(src="./img/dangnhap/google.png", alt="")
                                    span Google
                            li
                                a(href="javascript:void(0)")
                                    img(src="./img/dangnhap/linkedin.png", alt="")
                                    span Linkedin
                .col-lg-8
                    .welcome-content-wrapper
                        p Kienlongbank chào đón các ứng viên, những người muốn đến với chúng tôi bằng tài năng trí tuệ, phẩm chất đạo dức và sự đam mê trong công việc.
                        .welcome-list
                            .welcome-item
                                .icon
                                    i.mdi-wallet-travel
                                .text
                                    h3 Cơ Hội Được Thăng Tiến
                                    p Chính sách nhân sự của Kienlongbank ưu tiên đề bạt  nhân viên trẻ có năng lực, nhiệt huyết.
                            .welcome-item
                                .icon
                                    i.mdi-update
                                .text
                                    h3 Đào Tạo Và Phát Triển
                                    p Nhân viên Kienlongbank được tham gia các khóa đào tạo trong và ngoài ngân hàng để nâng cao kiến thức và trình độ chuyên môn hàng năm.
                            .welcome-item
                                .icon
                                    i.mdi-voice
                                .text
                                    h3 Khả Năng Lãnh Đạo
                                    p Chúng tôi đầu tư rất nhiều trong việc tìm kiếm các ứng viên giỏi chuyên môn, có tư chất lãnh đạo để đào tạo đội ngũ kế thừa.
                        p Hãy gia nhập Kienlongbank ngay hôm nay !