section.canhcam-rpos-1
	.container
		.row
			.col
				.block-sort
					h4 Sắp xếp theo
					.sl-sort
						select.custom-select.custom-select-lg
							option(selected="") Mới nhất
							option(value="item 1") item 1
							option(value="item 2") item 2
							option(value="item 3") item 3
		.row
			.col
				.table-responsive
					table.table
						thead
							tr.text-center
								th Vị trí tuyển dụng
								th Khu vực
								th Mức lương
								th Hạn nộp hồ sơ
						tbody
							tr
								td Giám đốc phòng giao dịch
									span HOT
								td Tp. Hồ Chí Minh
								td Trên 30 triệu
								td 06/09/2018
							tr
								td Phó giám đốc phòng kiểm soát nội bộ
									span HOT
								td Quảng Nam
								td 15-20 triệu
								td 06/09/2018
							tr
								td Nhân viên kiểm soát nội bộ
									span HOT
								td Lâm Ðồng
								td 5-7 triệu
								td 26/09/2018
							tr
								td Trưởng bộ phận kiểm soát nội bộ
								td Tp. Hồ Chí Minh
								td 10-12 triệu
								td 06/09/2018
							tr
								td Giao dịch viên
								td Tây Ninh
								td 5-7 triệu
								td 06/09/2018
							tr
								td Nhân viên chăm sóc khách hàng
								td Bình Thuận
								td 5-7 triệu
								td 26/09/2018
							tr
								td Nhân viên tdẻ tín dụng
								td Ðồng Tháp
								td 5-7 triệu
								td 06/09/2018
							tr
								td Trưởng phòng kế toán - Ngân quỹ
								td Tiền Giang
								td 10-15 triệu
								td 06/09/2018
							tr
								td Nhân viên pháp chế
								td Tp. Hồ Chí Minh
								td 5-7 triệu
								td 26/09/2018
							tr
								td Nhân viên phát triển ứng dụng
								td Quảng Nam
								td 5-7 triệu
								td 06/09/2018
							tr
								td Phó giám đốc chi nhánh
								td Lâm Ðồng
								td Trên 20 triệu
								td 06/09/2018
							tr
								td Phó giám đốc phòng giao dịch
								td Tp. Hồ Chí Minh
								td 15-17 triệu
								td 26/09/2018
							tr
								td Trưởng phòng kinh doanh chi nhánh
								td Tây Ninh
								td 10-15 triệu
								td 06/09/2018
							tr
								td Nhân viên bảo vệ
								td Bình Thuận
								td 5-7 triệu
								td 06/09/2018
							tr
								td Nhân viên phòng nguồn vốn
								td Ðồng Tháp
								td 5-7 triệu
								td 26/09/2018
							tr
								td Nhân viên phát triển ứng dụng
								td Tiền Giang
								td 5-7 triệu
								td 06/09/2018
							tr
								td Phó giám đốc chi nhánh
								td Tp. Hồ Chí Minh
								td Trên 20 triệu
								td 06/09/2018
							tr
								td Phó giám đốc phòng giao dịch
								td Tây Ninh
								td 15-17 triệu
								td 26/09/2018
							tr
								td Trưởng phòng kinh doanh chi nhánh
								td Bình Thuận
								td 10-15 triệu
								td 06/09/2018
							tr
								td Nhân viên bảo vệ
								td Ðồng Tháp
								td 5-7 triệu
								td 06/09/2018
							tr
								td Nhân viên bảo vệ
								td Tiền Giang
								td 5-7 triệu
								td 26/09/2018
		.row
			.col
				include ../../pagination/index.pug
