section.canhcam-rh-2#play-button(bg-img="./img/recruitment/home/home_banner.png")
	.block
		.embed-responsive.embed-responsive-16by9.video
			iframe#video(src="//www.youtube.com/embed/Qs-XcmaxaLw" frameborder="0" allowfullscreen="")
	.container
		.row
			.col

			//- iframe#video(src="./img/30s.mp4" frameborder="0" allowfullscreen="")
//- //- <iframe width="560" height="315" src="https://www.youtube.com/embed/pBGybOLFE84" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
//- https://www.youtube.com/watch?v=Qs-XcmaxaLw
//- //www.youtube.com/embed/Qs-XcmaxaLw
