section.kienlong-tuyendung-ct
    article
        .container
            .row
                .col-lg-9
                    h2 Trưởng phòng Kế toán - Ngân quỹ
                    time 28/12/2018
                    .brief-info
                        h3 Thông tin tuyển dụng
                        table
                            tbody
                                tr
                                    td Vị trí tuyển dụng: 
                                    td Trưởng phòng Kế toán - Ngân quỹ
                                tr
                                    td Chức vụ: 
                                    td Trưởng phòng
                                tr
                                    td Giới tính:
                                    td Không yêu cầu
                                tr
                                    td Địa điểm làm việc:
                                    td TP Hồ Chí Minh, Vũng Tàu
                                tr
                                    td Độ tuổi 
                                    td 25-35
                                tr
                                    td Mức lương: 
                                    td Thương lượng
                                tr
                                    td Bằng cấp:
                                    td Tốt nghiệp đại học ngân hàng
                                tr
                                    td Số lượng cần tuyển:
                                    td 2
                                tr
                                    td Kinh nghiệm:
                                    td 3 năm
                    .job-info
                        h3 Mô tả công việc
                        ul
                            li Giám sát các giao dịch tài khoản thanh toán, tiết kiệm, giao dịch liên ngân hàng, thanh toán quốc tế theo hạn mức VND, ngoại tệ tương đương được cấp phép.
                            li Tổ chức, kiểm soát việc thực hiện các quy trình thanh toán.
                            li Kiểm soát điều chuyển vốn giữa Chi nhánh với Hội sở, NHNN và ngược lại; điều chuyển vốn giữa Chi nhánh với các Phòng Giao dịch trực thuộc và  ngược lại.
                            li Ký duyệt báo cáo kế toán, báo cáo thuế theo quy định.
                            li Kiểm soát việc tổng hợp kế hoạch kinh doanh, xây dựng kế hoạch, kiểm soát và thực hiện kế hoạch chi phí điều hành.
                        h3 Yêu cầu công việc
                        ul
                            li Giám sát các giao dịch tài khoản thanh toán, tiết kiệm, giao dịch liên ngân hàng, thanh toán quốc tế theo hạn mức VND, ngoại tệ tương đương được cấp phép.
                            li Tổ chức, kiểm soát việc thực hiện các quy trình thanh toán.
                            li Kiểm soát điều chuyển vốn giữa Chi nhánh với Hội sở, NHNN và ngược lại; điều chuyển vốn giữa Chi nhánh với các Phòng Giao dịch trực thuộc và  ngược lại.
                            li Ký duyệt báo cáo kế toán, báo cáo thuế theo quy định.
                            li Kiểm soát việc tổng hợp kế hoạch kinh doanh, xây dựng kế hoạch, kiểm soát và thực hiện kế hoạch chi phí điều hành.
                        h3 Quyền lợi được hưởng
                        ul
                            li Giám sát các giao dịch tài khoản thanh toán, tiết kiệm, giao dịch liên ngân hàng, thanh toán quốc tế theo hạn mức VND, ngoại tệ tương đương được cấp phép.
                            li Tổ chức, kiểm soát việc thực hiện các quy trình thanh toán.
                            li Kiểm soát điều chuyển vốn giữa Chi nhánh với Hội sở, NHNN và ngược lại; điều chuyển vốn giữa Chi nhánh với các Phòng Giao dịch trực thuộc và  ngược lại.
                            li Ký duyệt báo cáo kế toán, báo cáo thuế theo quy định.
                            li Kiểm soát việc tổng hợp kế hoạch kinh doanh, xây dựng kế hoạch, kiểm soát và thực hiện kế hoạch chi phí điều hành.
                        h3 Hạn nộp hồ sơ:
                            span 30/09/2018
                    .button-group
                        a(href="javascript:void(0)") Ứng tuyển
                        a(href="javascript:void(0)") Lưu công việc
                        a(href="javascript:void(0)").btn-share Chia sẻ cho bạn bè
                .col-lg-3
                    .others-list
                        h2 Chức danh
                        .list
                            .others-item
                                time 28/12/2018
                                h3 Phó giám đốc phần kiểm soát nội bộ
                            .others-item
                                time 28/12/2018
                                h3 Phó giám đốc phần kiểm soát nội bộ
                            .others-item
                                time 28/12/2018
                                h3 Phó giám đốc phần kiểm soát nội bộ
                            .others-item
                                time 28/12/2018
                                h3 Phó giám đốc phần kiểm soát nội bộ
.friend-sharing
    h2 Chia sẻ với bạn bè
    .modal-close
        span.lnr-cross
    .wrapform
        #id
            .form-group
                label Gửi đến
                input(type="text", placeholder="Ví dụ: quangduycc@gmail.com")
            .form-group
                label Tiêu đề
                input(type="text", placeholder="Ví dụ: Giám đốc phòng giao dịch")
            .form-group
                label Nội dung
                textarea(name="", cols="30", rows="10")
            .form-group
                img(src="./img/capcha.png", alt="")
            .form-group
                span (*) Thông tin bắt buộc
            .form-group.frm-btnwrap
                .frm-btn
                    input(type="submit",value="Gửi") 