section.canhcam-rr-2(bg-img='./img/recruitment/rules/rules_bg.png')
	.container
		.row
			.col
				h2.head-title.text-center Chính sách đào tạo và phát triển nhân sự
		.row
			.col-12.px-lg-0
				.block-rule
					.block-quote-wrapper
						.block-quote
							h3 Đào tạo hội nhập
							p Giúp nhân sự tân tuyển hoà nhập nhanh với môi trường, qua đó có thể áp dụng kiến thức và kinh nghiệm hiện có vào công việc trong thời gian sớm nhất.
					.block-quote-wrapper
						.block-quote
							h3 Đào tạo phát triển
							p Nhân sự làm việc tại Kienlongbank sẽ có nhiều cơ hội được tham dự các lớp đào tạo tiềm năng cũng như xây dựng lộ trình phát triển nghề nghiệp của từng vị trí, tạo mọi điều kiện để CBNV có năng lực được bổ nhiệm giữ những vị trí quan trọng để cùng xây dựng phát triển đội ngũ nhân viên nòng cốt, góp phần vào kế hoạch phát triển chung của Kienlongbank. Do vậy mà tại Kienlongbank cơ hội phát triển nghề nghiệp cũng là công bằng và được công khai.
					.block-quote-wrapper
						.block-quote
							h3 Trách nhiệm quản lý
							p Kienlongbank rất chú trọng và quan tâm đến vai trò, trách nhiệm của cán bộ quản lý trong việc trực tiếp đào tạo phát triển nguồn nhân lực thông qua giao việc và đánh gía quá trình thực hiện công việc; Tạo cơ hội cho nhân viên trải nghiệm với những công việc có tính thử thách hơn nhằm đa dạng và giúp nhân viên tích lũy kinh nghiệm từ thực tế.
			//- .col.block-quote-wrapper
			//- 	.block-quote
			//- 		h3 Đào tạo hội nhập
			//- 		p Giúp nhân sự tân tuyển hoà nhập nhanh với môi trường, qua đó có thể áp dụng kiến thức và kinh nghiệm hiện có vào công việc trong thời gian sớm nhất.
			//- .col.block-quote-wrapper
			//- 	.block-quote
			//- 		h3 Đào tạo phát triển
			//- 		p Nhân sự làm việc tại Kienlongbank sẽ có nhiều cơ hội được tham dự các lớp đào tạo tiềm năng cũng như xây dựng lộ trình phát triển nghề nghiệp của từng vị trí, tạo mọi điều kiện để CBNV có năng lực được bổ nhiệm giữ những vị trí quan trọng để cùng xây dựng phát triển đội ngũ nhân viên nòng cốt, góp phần vào kế hoạch phát triển chung của Kienlongbank. Do vậy mà tại Kienlongbank cơ hội phát triển nghề nghiệp cũng là công bằng và được công khai.
			//- .col.block-quote-wrapper
			//- 	.block-quote
			//- 		h3 Trách nhiệm quản lý
			//- 		p Kienlongbank rất chú trọng và quan tâm đến vai trò, trách nhiệm của cán bộ quản lý trong việc trực tiếp đào tạo phát triển nguồn nhân lực thông qua giao việc và đánh gía quá trình thực hiện công việc; Tạo cơ hội cho nhân viên trải nghiệm với những công việc có tính thử thách hơn nhằm đa dạng và giúp nhân viên tích lũy kinh nghiệm từ thực tế.

