section.kienlong-quytrinhtuyendung-1
    article
        .container
            .row
                .col-12
                    h2 Quy trình tuyển dụng
                    p Kienlongbank sẽ liên hệ các ứng viên phù hợp với tiêu chí tuyển dụng
            .row
                .col-12
                    .items-list
                        .item
                            .title
                                img(src="./img/quytrinhtuyendung/1.png", alt="")
                                span Tham gia ứng tuyển
                            .content
                                p Ứng viên lựa chọn công việc phù hợp với nguyện vọng và ứng tuyển qua 03 cách:
                                b - Gửi email: 
                                    a(href="javascript:void(0)" ) tuyendung@kienlongbank.com
                                b - Nộp hồ sơ trực tuyến: 
                                    a(href="javascript:void(0)" ) www.tuyendung.kienlongbank.com
                                p
                                    b - Gửi hồ sơ bản cứng đến:
                                    ul
                                        li + Ngân hàng TMCP Kiên Long - Phòng nhân sự
                                        li + Địa chỉ: 98 - 108A đường CMT8, P.7, Q.3, Tp.HCM
                        .item
                            .title
                                img(src="./img/quytrinhtuyendung/1.png", alt="")
                                span Tham gia ứng tuyển
                            .content
                                p Ứng viên lựa chọn công việc phù hợp với nguyện vọng và ứng tuyển qua 03 cách:
                                b - Gửi email: 
                                    a(href="javascript:void(0)" ) tuyendung@kienlongbank.com
                                b - Nộp hồ sơ trực tuyến: 
                                    a(href="javascript:void(0)" ) www.tuyendung.kienlongbank.com
                                p
                                    b - Gửi hồ sơ bản cứng đến:
                                    ul
                                        li + Ngân hàng TMCP Kiên Long - Phòng nhân sự
                                        li + Địa chỉ: 98 - 108A đường CMT8, P.7, Q.3, Tp.HCM
                        .item
                            .title
                                img(src="./img/quytrinhtuyendung/1.png", alt="")
                                span Tham gia ứng tuyển
                            .content
                                p Ứng viên lựa chọn công việc phù hợp với nguyện vọng và ứng tuyển qua 03 cách:
                                b - Gửi email: 
                                    a(href="javascript:void(0)" ) tuyendung@kienlongbank.com
                                b - Nộp hồ sơ trực tuyến: 
                                    a(href="javascript:void(0)" ) www.tuyendung.kienlongbank.com
                                p
                                    b - Gửi hồ sơ bản cứng đến:
                                    ul
                                        li + Ngân hàng TMCP Kiên Long - Phòng nhân sự
                                        li + Địa chỉ: 98 - 108A đường CMT8, P.7, Q.3, Tp.HCM
                        .item
                            .title
                                img(src="./img/quytrinhtuyendung/1.png", alt="")
                                span Tham gia ứng tuyển
                            .content
                                p Ứng viên lựa chọn công việc phù hợp với nguyện vọng và ứng tuyển qua 03 cách:
                                b - Gửi email: 
                                    a(href="javascript:void(0)" ) tuyendung@kienlongbank.com
                                b - Nộp hồ sơ trực tuyến: 
                                    a(href="javascript:void(0)" ) www.tuyendung.kienlongbank.com
                                p
                                    b - Gửi hồ sơ bản cứng đến:
                                    ul
                                        li + Ngân hàng TMCP Kiên Long - Phòng nhân sự
                                        li + Địa chỉ: 98 - 108A đường CMT8, P.7, Q.3, Tp.HCM
                        .item
                            .title
                                img(src="./img/quytrinhtuyendung/1.png", alt="")
                                span Tham gia ứng tuyển
                            .content
                                p Ứng viên lựa chọn công việc phù hợp với nguyện vọng và ứng tuyển qua 03 cách:
                                b - Gửi email: 
                                    a(href="javascript:void(0)" ) tuyendung@kienlongbank.com
                                b - Nộp hồ sơ trực tuyến: 
                                    a(href="javascript:void(0)" ) www.tuyendung.kienlongbank.com
                                p
                                    b - Gửi hồ sơ bản cứng đến:
                                    ul
                                        li + Ngân hàng TMCP Kiên Long - Phòng nhân sự
                                        li + Địa chỉ: 98 - 108A đường CMT8, P.7, Q.3, Tp.HCM