section.kienlong-quanlyhoso-1
    article.thongtincanhan
        .container
            .row
                .col-lg-3
                    span.nav-qlhs-toggle Danh mục
                        em.mdi-arrow-down-drop-circle-outline
                    nav.nav-qlhs
                        a(href="javascript:void(0)") Thông tin cá nhân
                        a(href="javascript:void(0)") Nguyện vọng làm việc
                        a(href="javascript:void(0)") Quá trình đào tạo
                        a(href="javascript:void(0)") Kinh nghiệm làm việc
                        a(href="javascript:void(0)") Thông tin bổ sung
                        a(href="javascript:void(0)") Quan hệ gia đình
                        a(href="javascript:void(0)") Xem hồ sơ
                .col-lg-9
                    .row
                        .col-xl-9.pr-0.order-xl-1.order-2
                            h2 Thông tin cá nhân
                            .wrap-form
                                #id
                                    .form-group
                                        label Họ và tên
                                            small *
                                        .settingcontrol
                                            input(type="text")
                                    .form-group.form-radio
                                        label Giới tính
                                            small *
                                        .settingcontrol
                                            input(type="radio",name="gender")
                                            label Nam
                                            input(type="radio",name="gender")
                                            label Nữ
                                    .form-group
                                        label Ngày sinh
                                            small *
                                        .settingcontrol
                                            input(type="date")
                                    .form-group
                                        label Nơi sinh
                                            small *
                                        .settingcontrol
                                            select
                                                option(value="lorem 1") Lorem 1
                                                option(value="lorem 1") Lorem 1
                                                option(value="lorem 1") Lorem 1
                                    .form-group
                                        label Số CMND/ CCCD
                                            small *
                                        .settingcontrol
                                            input(type="text")
                                    .form-group
                                        label Ngày cấp
                                            small *
                                        .settingcontrol
                                            input(type="date")
                                    .form-group
                                        label Nơi cấp
                                            small *
                                        .settingcontrol
                                            select
                                                option(value="lorem 1") Lorem 1
                                                option(value="lorem 1") Lorem 1
                                                option(value="lorem 1") Lorem 1
                                    .form-group.frm-select
                                        label Chiều cao
                                            small *
                                        .settingcontrol
                                            select
                                                option(value="lorem") lorem 1
                                                option(value="lorem") lorem 1
                                                option(value="lorem") lorem 1
                                            label Cân nặng
                                                small *
                                            select
                                                option(value="lorem") lorem 1
                                                option(value="lorem") lorem 1
                                                option(value="lorem") lorem 1
                                    .form-group.frm-select
                                        label Dân tộc
                                            small *
                                        .settingcontrol
                                            input(type="text")
                                            label Tôn giáo
                                                small *
                                            input(type="text")
                                    .form-group
                                        label Tình trạng hôn nhân
                                            small *
                                        .settingcontrol
                                            select
                                                option(value="lorem") lorem 1
                                                option(value="lorem") lorem 1
                                                option(value="lorem") lorem 1
                                    .form-group
                                        label Hộ khẩu thường trú
                                            small *
                                        .settingcontrol
                                            input(type="text")
                                    .form-group
                                        label Chỗ ở hiện nay
                                            small *
                                        .settingcontrol
                                            input(type="text")
                                    .form-group
                                        label Di động
                                            small *
                                        .settingcontrol
                                            input(type="text")
                                    .form-group
                                        label Email
                                            small *
                                        .settingcontrol
                                            input(type="text")
                                    .form-group
                                        label Mạng xã hội 
                                            small * 
                                            br
                                            p (Facebook,Zalo,Linkedin)
                                        .settingcontrol
                                            input(type="text")
                                    h3 Khi cần báo tin cho
                                    .form-group
                                        label Họ và tên
                                            small *
                                        .settingcontrol
                                            input(type="text")
                                    .form-group
                                        label Email
                                            small *
                                        .settingcontrol
                                            input(type="text")
                                    .form-group
                                        label Quan hệ
                                            small *
                                        .settingcontrol
                                            input(type="text")
                                    .form-group
                                        label Di động
                                            small *
                                        .settingcontrol
                                            input(type="text")
                                    span.note (
                                        small *
                                        | ) Thông tin bắt buộc
                                    span.note Tất cả những thông tin bạn cung cấp sẽ đựơc Kienlongbank bảo mật
                                    
                                    .form-group.frm-btnwrap
                                        .frm-btn.frm-save
                                            label.mdi-check
                                            input(type="button", value="Lưu")
                                        .frm-btn.frm-abort
                                            label.mdi-close
                                            input(type="button", value="Hủy bỏ")
                        .col-xl-3.pl-0.order-xl-2
                            .upload-img
                                h3 Hình ứng viên
                                    small * 
                                    p (jpg; png)
                                .img-wrapper
                                    img(src="./img/thongtincanhan/no-image.png", alt="")
                                .form-group.frm-upload
                                    label(for="upload") Tải ảnh
                                    input(type="file")#upload
                                .view-and-delete
                                    a(href="javascript:void(0)").btn-view Xem hình
                                    a(href="javascript:void(0)").btn-delete Xóa hình