.member-wrapper
    padding: 1.5rem
    background: #f8f8f8
    border-radius: 5px
    @media (min-width: 992px)
        padding: 30px
    .member-avatar
        width: 150px
        height: 150px
        border-radius: 50%
        overflow: hidden
        margin: 0 auto
        border: 1px solid #0f848d
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1)
        img
            width: 100%
    .member-name
        margin: 1.25rem 0 1rem 0
        text-align: center
        h5
            font-size: r(16px)
            font-weight: 700
            text-transform: uppercase
            color: #0f848d
    .member-info
        ul
            list-style: none
            li
                display: flex
                align-items: baseline
                margin-bottom: 4px
                &:last-childd
                    margin-bottom: 0
                em
                    color: #0f848d
                    padding-right: .75rem
                p
                    font-size: r(14px)
                    margin-bottom: 0
                    font-weight: 400
    .member-level
        margin-top: 1.5rem
        p
            font-size: r(14px)
            font-weight: 400
            margin-bottom: .4rem
        .line-level
            height: 8px
            width: 100%
            position: relative
            background: #e4e4e4
            border-radius: 4px
            span
                height: 100%
                border-radius: 4px
                position: absolute
                top: 0
                left: 0
                background: #0f848d
    .member-update
        margin-top: r(30px)
        text-align: center
        a
            display: inline-block
            text-transform: uppercase
            font-weight: 600
            font-size: r(14px)
            padding: .5rem 1rem
            border: 2px solid #0f848d
            color: #0f848d
            transition: .4s all ease-in-out
            &:hover
                background: #0f848d
                color: #fff