article.member-wrapper
    .member-avatar
        img(src="./img/quanlyhoso/avatar.jpg", alt="")
    .member-name
        h5 Võ nguyễn thanh trúc
    .member-info
        ul
            li
                em.mdi.mdi-account
                p Chuyên viên phát triển thương hiệu
            li
                em.mdi.mdi-star
                p 6 năm kinh nghiệm
            li
                em.mdi.mdi-book-open
                p Bằng cấp cao nhất: Cao đẳng
    .member-level
        p Mức độ hoàn chỉnh
        .line-level(data-level='50%')
            span
    .member-update
        a(href="javascript:void(0)") CẬP NHẬT HỒ SƠ