section.kienlong-quanlyhoso-1
    article.quatrinhdaotao
        .container
            .row
                .col-lg-3
                    span.nav-qlhs-toggle Danh mục
                        em.mdi-arrow-down-drop-circle-outline
                    nav.nav-qlhs
                        a(href="javascript:void(0)") Thông tin cá nhân
                        a(href="javascript:void(0)") Nguyện vọng làm việc
                        a(href="javascript:void(0)") Quá trình đào tạo
                        a(href="javascript:void(0)") Kinh nghiệm làm việc
                        a(href="javascript:void(0)") Thông tin bổ sung
                        a(href="javascript:void(0)") Quan hệ gia đình
                        a(href="javascript:void(0)") Xem hồ sơ
                .col-lg-9
                    h2 Quá trình đào tạo
                    .wrap-form
                        #id
                            h3 Bằng cấp chuyên môn 
                                span ( Bắt đầu từ các bằng cấp cao nhất )
                            .form-group
                                label Thời gian bắt đầu
                                    small *
                                .settingcontrol
                                    input(type="date")
                            .form-group
                                label Thời gian kết thúc
                                    small *
                                .settingcontrol
                                    input(type="date")
                            .form-group
                                label Trường/đơn vị đào tạo
                                    small *
                                .settingcontrol
                                    input(type="text")
                            .form-group
                                label Chuyên ngành
                                    small *
                                .settingcontrol
                                    input(type="text")
                            .form-group.frm-select
                                label Bằng cấp/Chứng chỉ
                                    small *
                                .settingcontrol
                                    select
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                                    select
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                            .form-group.frm-select
                                label Loại hình đào tạo
                                    small *
                                .settingcontrol
                                    select
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                                    label Xếp loại
                                    select
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                            span.warning Bạn chưa có thông tin về quá trình đào tạo
                            h3 Trình độ ngoại ngữ, tin học 
                                span ( bắt đầu từ các bằng cấp và chứng chỉ cao nhât. nêu rõ các phần mềm đang sử dụng và nếu là chứng chỉ Ielts, toefl, toeic thì kèm theo số điểm đạt được )
                            .form-group
                                label Bằng cấp chứng chỉ
                                .settingcontrol
                                    select
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                            .form-group
                                label Trình độ
                                .settingcontrol
                                    input(type="text")
                            .form-group
                                label Ngày cấp
                                .settingcontrol
                                    input(type="text")
                            .form-group
                                label Nơi cấp
                                .settingcontrol
                                    select
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                            .form-group
                                label Tự đánh giá khả năng hiện tại
                                .settingcontrol
                                    textarea(name="", cols="30", rows="10")
                            .form-group.frm-btnwrap
                                .frm-btn.frm-save
                                    label.mdi-check
                                    input(type="button", value="Lưu")
                                .frm-btn.frm-abort
                                    label.mdi-close
                                    input(type="button", value="Hủy bỏ")
                                .frm-btn.frm-complete
                                    label
                                    input(type="submit", value="Hoàn tất hồ sơ")