section.canhcam-rwh-1
	.container
		.row
			.col
				.head_quote.text-center
					h2 Tại sao chọn Kienlongbank
					p Kienlongbank luôn chào đón các bạn ứng viên, những người muốn đến với chúng tôi bằng tài năng, trí tuệ, phẩm chất đạo đức và lòng say mê công việc. 
		.row
			.col-lg.col-md-6.col-12
				figure.small-reason
					img.w-100(src='./img/recruitment/why/why_1.png', alt='')
					figcaption
						h4 Tương lai nghề nghiệp vững chắc
			.col-lg.col-md-6.col-12
				figure.small-reason
					img.w-100(src='./img/recruitment/why/why_1.png', alt='')
					figcaption
						h4 Các lãnh đạo nhiệt huyết và giàu kinh nghiệm
			.col-lg.col-md-6.col-12
				figure.small-reason
					img.w-100(src='./img/recruitment/why/why_1.png', alt='')
					figcaption
						h4 Đồng nghiệp chia sẻ, cởi mở và thân thiện
			.col-lg.col-md-6.col-12
				figure.small-reason
					img.w-100(src='./img/recruitment/why/why_1.png', alt='')
					figcaption
						h4 Môi trường làm việc hiện đại, chuyên nghiệp
		.row
			.col.text-center
				h5.mid-title Đến với Kienlongbank, chúng tôi sẽ tạo cho bạn những cơ hội và thử thách để bạn tự khẳng định mình bằng chính tài năng của bạn.
		.row
			.col-12.col-lg
				figure.big-reason(bg-img='./img/recruitment/why/why_bg_quote.png')
					.icon
						i.material-icons card_travel
					figcaption
						.quote.text-center
							h4 Cơ Hội Được Thăng Tiến
							p Chính sách nhân sự của Kienlongbank ưu tiên đề bạt những nhân viên trẻ có năng lực, có lòng nhiệt huyết, và có thành tích tốt trong công việc lên các cấp quản lý cấp trung và cấp cao.
			.col-12.col-lg
				figure.big-reason(bg-img='./img/recruitment/why/why_bg_quote.png')
					.icon
						i.material-icons update
					figcaption
						.quote.text-center
							h4 Đào Tạo Và Phát Triển
							p Nhân viên hàng năm được tham gia các khóa đào tạo trong và ngoài ngân hàng để nâng cao kiến thức và trình độ chuyên môn nghiệp vụ.
			.col-12.col-lg
				figure.big-reason(bg-img='./img/recruitment/why/why_bg_quote.png')
					.icon
						i.material-icons record_voice_over
					figcaption
						.quote.text-center
							h4  Khả Năng Lãnh Đạo
							p Chúng tôi đầu tư rất nhiều trong việc tìm kiếm các ứng viên giỏi chuyên môn, có tư chất lãnh đạo để đào tạo đội ngũ kế thừa.

