
//////////////////////////////////////
// CODE
//////////////////////////////////////
.canhcam-rwh-1
	figure
		margin-bottom: 0
	padding: 3rem 0
	.head_quote
		h2
			font-size: 30px
			font-weight: 400
			text-transform: uppercase
			color: #333333
			+media-breakpoint-down(md)
				font-size: 24px
		p
			font-size: 15px
			page-break-after: 0px 200px 30px 200px
			color: #333333
			+media-breakpoint-down(md)
				padding: 0px 2.5rem 1.875rem 2.5rem
			+media-breakpoint-down(sm)
				padding: 0px 1.5rem 1.875rem 1.5rem
	.mid-title
		color: #333333
		width: 80%
		margin-top: 30px
		margin-bottom: 30px
		font-size: 15px
		line-height: 24px
	.small-reason
		position: relative
		+media-breakpoint-down(md)
			margin-bottom: 1.875rem
		// filter: grayscale(1)
		figcaption
			color: color-get($mau,trang)
			+pos(abs, 0 null null null)
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			color: color-get($mau,trang)
			font-size: 16px
			font-weight: 500
			height: 100%
			width: 100%
			h4
				z-index: 99
				padding: 0px 24px
				line-height: r(24px)
				font-size: 16px
				transition: .3s ease-in-out
			&:after
				opacity: .9
				background-image: linear-gradient( -45deg, rgb(15,132,141) 0%, rgb(0,80,110) 100%)
				display: block
				position: absolute
				content: ""
				width: 100%
				height: 100%
		.info
			position: absolute
			width: 100%
			height: 0
			overflow: hidden
			top: 0
			left: 0
			padding: 15px
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			color: #ffffff
			font-size: 16px
			box-sizing: border-box
			opacity: 0
			transition: .3s ease-in-out
		&:hover
			h4
				opacity: 0
			.info
				height: 100%
				opacity: 1

	.big-reason
		height: 100%
		padding: 1rem
		position: relative
		text-align: center
		+media-breakpoint-down(md)
			padding: 1rem 1rem 2rem 1rem
			margin-bottom: 1.5rem
			height: initial
		.icon
			transition: .5s ease-in-out
			i
				color: #ffffff
				font-size: 5rem
				transition: .5s ease-in-out
		.quote
			color: #ffffff
			display: flex
			align-items: center
			justify-content: center
			flex-direction: column
			text-align: center
			color: #ffffff
			font-size: 16px
			font-weight: 500
			height: 100%
			width: 100%
			h4
				
				font-size: 1.25rem
				padding: 10px 0px 15px 0px
			p
				font-size: 16px
				font-weight: 300
		&:hover
			.icon
				transform: rotateY(180deg)
	.col.text-center
		display: flex
		align-items: center
		justify-content: center

