html,body
	font-weight: 500
	line-height: 1.5
	font-size: 16px
	color: #333
	font-family: 'Montserrat', sans-serif
	main
		overflow: hidden
		@media (max-width: 576px)
			margin-top: 72px
		@media (min-width: 577px) and (max-width: 991px)
			margin-top: 76px
		@media (min-width: 992px) and (max-width: 1199px)
			margin-top: 135px
		@media (min-width: 1200px)
			margin-top: 143px
.kienlong-title
	margin-bottom: 1rem
	text-align: center
	.title
		text-transform: uppercase
		font-size: r(24px)
		font-weight: 400
		margin-bottom: 0
	+media-breakpoint-up(lg)
		.title
			font-size: r(30px)

@font-face 
	font-family: 'Material Icons'
	font-style: normal
	font-weight: 400
	src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2')
.material-icons
	font-family: 'Material Icons'
	font-style: normal
	font-weight: 400
	+fz(1rem)
.kienlong-table
	table
		width: 100%
		display: block
		overflow-x: auto
		white-space: nowrap
		thead
			tr
				background: #0f848d
				th
					color: #fff
					font-weight: 500
					font-size: r(16px)
					text-align: center
					padding: r(12px)
					border-right: 1px solid #ffffff
					&:last-child
						border-right: 0
		tbody
			tr
				background: #ececec
				&:nth-child(even)
					background: #f5f5f5
				td
					border-top: 1px solid #fff
					border-right: 1px solid #fff
					font-size: r(15px)
					text-align: center
					padding: r(12px)
					font-weight: 400
					@media (min-width: 992px)
						white-space: pre-wrap
						padding-bottom: 0
						padding-top: 0
					&:last-child
						border-right: 0
					a
						color: #00717c
						text-decoration: underline
	+media-breakpoint-up(lg)
		table
			display: table
.kienlong-link
	font-size: r(14px)
	color: #00717c
	text-transform: uppercase
	font-weight: 600
	border: 2px solid #00717c
	transition: .4s all ease-in-out
	&:after
		+material('\f142')
		margin-left: .3rem
	&:hover
		background: #00717c
		color: #fff
a
	&:hover
		text-decoration: none
*
	padding: 0
	margin: 0
	&:focus
		outline: none

=general-style()
	font-size: 1rem
	font-style: italic
	color: color-get($mau,xam-form)
	border: 2px solid color-get($mau,xam-vien)
	height: r(50px)
	border-radius: 0
	background: transparent
	-webkit-appearance: none


a.read-more
	+pad(.5rem 1.5rem .5rem 2rem)
	margin-top: 2rem
	background: transparent
	border: 2px solid color-get($mau,trang)
	color: color-get($mau,trang)
	border-radius: 0
	display: inline-flex
	&:after
		content: '\f142'
		margin-left: .75rem
		font: normal normal normal 24px/1 "Material Design Icons"
		font-size: 1.5rem
	&:hover
		background: color-get($mau,trang)
		color: color-get($mau,main)
		transition: .3s all ease-in-out
	&.main
		border-color: color-get($mau,main)
		color: color-get($mau,main)
		&:hover
			background: color-get($mau,main)
			color: color-get($mau,trang)
	&.btn-bg-main
		border-color: color-get($mau,main)
		margin-top: .5rem
		+pad(null 1rem)
		color: color-get($mau,trang)
		background: color-get($mau,main)
		&:hover
			background: transparent
			color: color-get($mau,main)
	&.transparent
		border: 0
		background: transparent
		color: color-get($mau,extra)
		&:hover
			background: tranparent
			border: 0

.canhcam-breadcrumb-1
	background-color: #e9ecef
	ol.breadcrumb
		align-items: center
		margin-bottom: 0
		padding-left: 0 !important
		padding-right: 0 !important
		margin-left: -15px
		margin-right: -15px
		li
			padding-left: 15px
			padding-right: 15px
			position: relative
			&:before
				position: absolute
				content: '\f142'
				font-family: "Material Design Icons"
				color: #666666
				font-size: 18px
				top: 50%
				right: -10px
				transform: translateY(-50%)
			&:last-child
				&:before
					display: none
		span
			color: #0f848d
			font-size: 12px
			font-weight: 400
			transition: .15s ease-in-out
		a.active
			span
				color: #666666
		li
			&:hover
				span
					color: #0f848d
					font-weight: 500




a.edit-link
	display: flex
	align-items: center
	justify-content: center
	height: 30px
	width: 30px
	border-radius: 50%
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
	background-color: #fff
	i.fa.fa-pencil:before 
		display: inline-block
		font-family: "Material Design Icons"
		font-size: inherit
		text-rendering: auto
		font-style: normal
		font-weight: 400
		font-variant: normal
		line-height: inherit
		-webkit-font-smoothing: antialiased
		content: "\f3eb"
		font-size: 1.125rem
		color: #0f848d
		transition: .3s ease-in-out
	&:hover
		i.fa.fa-pencil:before
			transform: rotate(360deg)

.klb-dangkynhanthongbao
	padding: 3rem 0
	h2.title
		font-size: 24px
		font-weight: 400
		text-transform: uppercase
		text-align: center
		margin-bottom: 15px
		@media (min-width: 992px)
			font-size: 30px
.form-dangkynhanthongbao
	display: flex
	align-items: center
	flex-wrap: wrap
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.18)
	border: 1px solid #0f848d

	.wrap-form
		flex: 0 0 100%
		padding: 15px
		@media (min-width: 992px)
			padding: 25px
		@media (min-width: 992px)
			flex: 0 0 50%
	.image
		flex: 0 0 100%
		margin-top: 30px
		height: 100%
		img
			width: 100%
			height: 100%
			object-fit: cover
		@media (min-width: 992px)
			flex: 0 0 50%
			margin-top: 0

	.form-group
		margin-bottom: 15px
		label
			font-size: 14px
			font-weight: 600
			color: #333333
			display: block
			margin-bottom: 4px
			span
				color: #da4251
				font-weight: 500
		input[type="text"]
			width: 100%
			height: 40px
			border: 2px solid #e1e1e1
			background-color: #ffffff
			color: #333333
			font-size: 15px
			padding: 0px 14px
			transition: .3s ease-in-out
			&::-webkit-input-placeholder
				font-style: italic
				color: #e1e1e1
			&:focus
				border: 2px solid #00717c
		.radio-group
			display: flex
			flex-wrap: wrap
		.radio
			display: flex
			align-items: center
			margin-top: 20px
			p
				margin-left: 5px
				font-size: 14px
				color: #666666
				font-weight: 400
			flex: 0 0 100%
			@media (min-width: 992px)
				flex: 0 0 25%
				margin-top: 0
		select
			width: 100%
			height: 40px
			border: 2px solid #e1e1e1
			background-color: #ffffff
			color: #333333
			font-size: 15px
			padding: 0px 14px
			transition: .3s ease-in-out
			&:focus
				border: 2px solid #00717c

		&.form-btn
			display: flex
			flex-wrap: wrap
			margin: 0 -7.5px
			.custom-col-6
				flex: 0 0 50%
				padding: 0 7.5px
			.custom-btn-submit, .custom-btn-cancel
				width: 100%
				height: 40px
				display: flex
				align-items: center
				justify-content: center
				transition: .3s ease-in-out
				i, em
					margin-right: 4px
					color: #ffffff
					font-size: 18px
					transition: .3s ease-in-out
				span
					margin-left: 4px
					color: #ffffff
					font-size: 14px
					text-transform: uppercase
					font-weight: 600
					transition: .3s ease-in-out
				&:hover
					background-color: rgba(0,0,0,0)
			.custom-btn-submit
				background-color: #0f848d
				box-shadow: inset 0 0 0 2px #0f848d
				&:hover
					span, i, em
						color: #0f848d
			.custom-btn-cancel
				background-color: #da4251
				box-shadow: inset 0 0 0 2px #da4251
				&:hover
					span, i, em
						color: #da4251

.RadPicker.RadDateTimePicker.RadPicker_Simple
	width: 100% !important
	border: 1px solid #d7d7d7
	.riTextBox
		border: 0 !important

.form-group
	&.error
		margin-top: -1rem
		font-family: 'Montserrat', sans-serif !important
		font-weight: 500 !important
		font-size: 13px
		color: #ff0000
		font-style: italic
		justify-content: space-between !important
		span
			font-family: 'Montserrat', sans-serif !important
			font-weight: 500 !important

.kinhnghiem_lamviec
	.form-group
		&.error
			@media (min-width: 768px)
				span
					margin-left: 30%
	.wrap-form
		input[type="submit"]
			@media (max-width: 768px)
				margin-left: 0 !important
			@media (min-width: 768px)
				margin-left: 30% !important
	> .container > .row > .col-lg-9 > .frm-btnwrap
		display: flex
		margin-left: 0 !important
		@media (min-width: 768px)
			margin-left: 30% !important
			
.kienlong-quanlyhoso-1
	.quanhegiadinh, .kinhnghiem_lamviec
		.wrap-form
			input[type="submit"]
				background-color: #fff
				border-width: 2px
				border-color: #00717c
				border-style: solid
				height: 36px
				width: 316px
				display: -webkit-box
				display: -ms-flexbox
				display: flex
				-webkit-box-align: center
				-ms-flex-align: center
				align-items: center
				-webkit-box-pack: center
				-ms-flex-pack: center
				justify-content: center
				font-size: .9375rem
				color: #0f848d
				text-transform: uppercase
				font-weight: 600
				margin-left: 20%
				margin-top: 1.3125rem
				transition: .3s ease-in-out
				&:hover
					color: #ffffff
					background-color: #0f848d
				@media (max-width: 576px)
					width: 100%
	.quatrinhdaotao
		.wrap-form
			.form-company-wrap
				input[type="submit"]
					background-color: #fff
					border-width: 2px
					border-color: #00717c
					border-style: solid
					height: 36px
					width: 316px
					display: -webkit-box
					display: -ms-flexbox
					display: flex
					-webkit-box-align: center
					-ms-flex-align: center
					align-items: center
					-webkit-box-pack: center
					-ms-flex-pack: center
					justify-content: center
					font-size: .9375rem
					color: #0f848d
					text-transform: uppercase
					font-weight: 600
					margin-left: 20%
					margin-top: 1.3125rem
					transition: .3s ease-in-out
					&:hover
						color: #ffffff
						background-color: #0f848d
					@media (max-width: 576px)
						width: 100%

		.form-group
			@media (max-width: 768px)
				align-items: flex-start
				label, .settingcontrol
					flex: 0 0 100%
					width: 100%
			&.error
				@media (min-width: 768px)
					span
						margin-left: 30%
		.wrap-form
			input[type="submit"]
				@media (max-width: 768px)
					margin-left: 0 !important
				@media (min-width: 768px)
					margin-left: 30% !important	
			> .row
				margin: 0 !important
		.frm-btnwrap
			width: 100%
			display: flex
			@media (min-width: 768px)
				margin-left: 30% !important
				flex-wrap: wrap
				.frm-complete
					margin-left: 0
					margin-top: 20px
					input[type="submit"]
						width: 12rem
						margin-left: 0 !important
			@media (min-width: 1200px)
				.frm-complete
					margin-left: 1.875rem
					margin-top: 0
				
@media (max-width: 992px)
	.thongtincanhan > .container > .row > .col-lg-9 >.row
		margin-left: 0 !important
		margin-right: 0 !important
	.thongtincanhan > .container > .row > .col-lg-9 >.row >.col-xl-9
		padding-left: 0 !important
		padding-right: 0 !important

	.homepage
		h2
			font-size: 20px !important

.klb-tintuyendung .canhcam-rh-6
	padding-bottom: 0