html,body
	font-weight: 500
	line-height: 1.5
	font-size: 16px
	color: #333
	font-family: 'Montserrat', sans-serif
.kienlong-title
	margin-bottom: 1rem
	text-align: center
	.title
		text-transform: uppercase
		font-size: r(24px)
		font-weight: 400
		margin-bottom: 0
	+media-breakpoint-up(lg)
		.title
			font-size: r(30px)

@font-face 
	font-family: 'Material Icons'
	font-style: normal
	font-weight: 400
	src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2')
.material-icons
	font-family: 'Material Icons'
	font-style: normal
	font-weight: 400
	+fz(1rem)
.kienlong-table
	table
		width: 100%
		display: block
		overflow-x: auto
		white-space: nowrap
		thead
			tr
				background: #0f848d
				th
					color: #fff
					font-weight: 500
					font-size: r(16px)
					text-align: center
					padding: r(12px)
					border-right: 1px solid #ffffff
					&:last-child
						border-right: 0
		tbody
			tr
				background: #ececec
				&:nth-child(even)
					background: #f5f5f5
				td
					border-top: 1px solid #fff
					border-right: 1px solid #fff
					font-size: r(15px)
					text-align: center
					padding: r(12px)
					&:first-child
						text-align: left
						padding-left: r(32px)
					&:last-child
						border-right: 0
					a
						color: #00717c
						text-decoration: underline
	+media-breakpoint-up(lg)
		table
			display: table
.kienlong-link
	font-size: r(14px)
	color: #00717c
	text-transform: uppercase
	font-weight: 600
	border: 2px solid #00717c
	transition: .4s all ease-in-out
	&:after
		+material('\f142')
		margin-left: .3rem
	&:hover
		background: #00717c
		color: #fff
a
	&:hover
		text-decoration: none
*
	padding: 0
	margin: 0
	&:focus
		outline: none

=general-style()
	font-size: 1rem
	font-style: italic
	color: color-get($mau,xam-form)
	border: 2px solid color-get($mau,xam-vien)
	height: r(50px)
	border-radius: 0
	background: transparent
	-webkit-appearance: none


a.read-more
	+pad(.5rem 1.5rem .5rem 2rem)
	margin-top: 2rem
	background: transparent
	border: 2px solid color-get($mau,trang)
	color: color-get($mau,trang)
	border-radius: 0
	display: inline-flex
	&:after
		content: '\f142'
		margin-left: .75rem
		font: normal normal normal 24px/1 "Material Design Icons"
		font-size: 1.5rem
	&:hover
		background: color-get($mau,trang)
		color: color-get($mau,main)
		transition: .3s all ease-in-out
	&.main
		border-color: color-get($mau,main)
		color: color-get($mau,main)
		&:hover
			background: color-get($mau,main)
			color: color-get($mau,trang)
	&.btn-bg-main
		border-color: color-get($mau,main)
		margin-top: .5rem
		+pad(null 1rem)
		color: color-get($mau,trang)
		background: color-get($mau,main)
		&:hover
			background: transparent
			color: color-get($mau,main)
	&.transparent
		border: 0
		background: transparent
		color: color-get($mau,extra)
		&:hover
			background: tranparent
			border: 0