section.canhcam-rr-1
	.article
		.row
			.col
				.block-title.text-center
					h1 Chính sách nhân sự tại ngân hàng Kiên Long
					p Yếu tố Con người luôn được chú tâm và không ngừng cải tiến các chính sách nhằm để xây dựng một đội ngũ CBNV vừa đúng Tầm vừa có Tâm để đưa Kienlongbank trở thành một trong những Ngân hàng bán lẻ hàng đầu tại Việt Nam.

		.row.canhcam-card-wrapper
			.col-12.px-lg-0
				.canhcam-card
					.canhcam-card-content
						.canhcam-card-content-wrapper
							h3 Môi trường làm việc
							p Với sứ mệnh xây dựng một thương hiệu "XANH" và phương châm “Sẵn lòng chia sẻ” Kienlongbank luôn định hướng phát triển đội ngũ nhân viên ý thức rèn luyện tư cách đạo đức của mình dựa trên ba nguyên tắc chủ đạo "TÂM, TÍN, KIÊN" nhằm xây dựng một đội ngũ nhân viên trong sạch, sáng tạo, nhiệt huyết với nghề và bản lĩnh vững vàng trong cuộc sống.
								br
								|
								br
								| Đến với Kienlongbank Bạn sẽ cảm nhận được nét khác biệt không nhầm lẫn với bất cứ nơi đâu từ sự năng động, thân thiện, chân thành và đoàn kết. Một môi trường làm việc chuyên nghiệp đó chính là ĐẠI GIA ĐÌNH KIÊN LONG.
					.canhcam-card-image(bg-img='./img/recruitment/rules/rules_banner_1.png')
						figure
							img.w-100.d-lg-none(src='./img/recruitment/rules/rules_banner_1.png', alt='')
				.canhcam-card
					.canhcam-card-content
						.canhcam-card-content-wrapper
							h3 Chính sách tuyển dụng
							p Nhằm mục đích tuyển đúng người, đúng vị trí, Kienlongbank đã và đang áp dụng cơ chế tuyển dụng công khai, minh bạch với Hội đồng tuyển chọn độc lập tham gia phỏng vấn tất cả vị trí công việc. 
								br
								|
								br
								|Kienlongbank luôn trân trọng người tìm việc, luôn hướng đến sự cân bằng giữa một bên là người sử dụng lao động đang cần một đội ngũ nhân sự có chất lượng và một bên là người lao động nhiệt huyết, có năng lực và là mảnh ghép phù hợp cho vị trí ứng tuyển. 
								br
								|
								br
								|Người ứng tuyển không mất bất cứ khoản chi phí nào để tham gia ứng tuyển, điều bạn cần là một trái tim nhiệt huyết, một đam mê nghề nghiệp và luôn đồng hành cùng Kienlongbank.

					.canhcam-card-image(bg-img='./img/recruitment/rules/rules_banner_2.png')
						figure
							img.w-100.d-lg-none(src='./img/recruitment/rules/rules_banner_2.png', alt='')
			