
//////////////////////////////////////
// CODE
//////////////////////////////////////
.canhcam-rr-1
	padding-top: 44px
	.block-title
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		h1
			font-size: 30px
			font-weight: 400
			text-transform: uppercase
			color: #333333
			+media-breakpoint-down(md)
				font-size: 1.5rem
		p
			font-size: 1.125rem
			font-weight: 300
			width: 90%
			margin-top: 20px
			color: #333333
			@media (min-width: 992px)
				width: 80%
			@media (min-width: 1200px)
				width: 70%
	.canhcam-card
		display: flex
		flex-direction: column
		margin: 5px 0
		+media-breakpoint-down(md)
			+ .canhcam-card
				margin-top: 2.5rem
			&:last-child
				margin-top: 2.5rem 0
			box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, .2)
			padding: .5rem
		+media-breakpoint-up(lg)
			flex-direction: row
			&:hover
				.canhcam-card-image
					figure
						img
							transform: scale(1.2)
			&:nth-child(odd)
				.canhcam-card-content
					&:before
						opacity: 1
						left: 100%
			&:nth-child(even)
				flex-direction: row-reverse
				-webkit-box-direction: reverse
				.canhcam-card-content
					&:before
						opacity: 1
						-webkit-clip-path: polygon(97% 50%, 100% 0, 100% 100%)
						clip-path:  polygon(100% 0, 100% 100%, 97% 50%)
						right: calc(100% - .5px)

		.canhcam-card-content

			+media-breakpoint-up(lg)
				padding: 50px 18px 115px 15px
				max-width: 50%
				-webkit-flex: 0 0 50%
				position: relative
				&:before
					opacity: 0
					-webkit-clip-path: polygon(3% 50%, 0 0, 0 100%)
					clip-path: polygon(3% 50%, 0 0, 0 100%)
					position: absolute
					display: block
					content: ""
					width: 100%
					height: 100%
					top: 50%
					background: #ffffff
					z-index: 99
					transform: translateY(-50%)
			.canhcam-card-content-wrapper
				padding-left: .5rem
				+media-breakpoint-up(lg)
					padding-bottom: 15px
				h3
					color: #0f848d
					font-size: 24px
					font-weight: 600
					margin-bottom: 25px
					+media-breakpoint-down(md)
						font-size: 1.5rem
						padding-top: 0.5rem
				p
					font-weight: 500
					font-size: 14px
					color: #333333
		.canhcam-card-image
			+media-breakpoint-down(md)
				background-image: none !important
				figure
					padding-top: 1rem
			+media-breakpoint-up(lg)
				flex: 0 0 50%
				max-width: 50%
				overflow: hidden
				figure
					margin: 0
					height: 100%
					img
						transition: .3s all ease-in-out
						height: 100%
						max-width: 100%




