section.kienlong-QLHoSo-1
    .container
        .row
            .col
                .kienlong-title
                    h2.title quản lý hồ sơ
        .row
            .col-lg-4
                include ../../TTThanhVien/index.pug
            .col-lg-8
                .row.list-item
                    .col-md-6.item
                        .box-item
                            .number
                                h3 4
                            .page-name
                                h4 Nhà tuyển dụng xem hồ sơ
                            .view-detail
                                a(href="javascript:void(0)") chi tiết
                    .col-md-6.item
                        .box-item
                            .number
                                h3 20
                            .page-name
                                h4 Nhà tuyển dụng xem hồ sơ
                            .view-detail
                                a(href="javascript:void(0)") chi tiết
                    .col-md-6.item
                        .box-item
                            .number
                                h3 0
                            .page-name 
                                h4 Nhà tuyển dụng xem hồ sơ
                            .view-detail
                                a(href="javascript:void(0)") chi tiết
                    .col-md-6.item
                        .box-item
                            .number
                                h3 20
                            .page-name
                                h4 Nhà tuyển dụng xem hồ sơ
                            .view-detail
                                a(href="javascript:void(0)") chi tiết
