section.kienlong-quanlyhoso-1
    article.nguyenvong_lamviec
        .container
            .row
                .col-lg-3
                    span.nav-qlhs-toggle Danh mục
                        em.mdi-arrow-down-drop-circle-outline
                    nav.nav-qlhs
                        a(href="javascript:void(0)") Thông tin cá nhân
                        a(href="javascript:void(0)") Nguyện vọng làm việc
                        a(href="javascript:void(0)") Quá trình đào tạo
                        a(href="javascript:void(0)") Kinh nghiệm làm việc
                        a(href="javascript:void(0)") Thông tin bổ sung
                        a(href="javascript:void(0)") Quan hệ gia đình
                        a(href="javascript:void(0)") Xem hồ sơ
                .col-lg-9
                    h2 nguyện vọng làm việc
                    .table-wrapper
                        table
                            tr
                                td(colspan='2') Công việc 1
                            tr
                                td Vị trí ứng tuyển
                                td Nhân viên
                            tr
                                td Tỉnh, thành muốn làm việc
                                td Tp. Hồ Chí Minh
                            tr
                                td Thu nhập đề nghị
                                td 5 triệu đến 10 triệu
                            tr
                                td Ngày tiếp nhận công việc
                                td 02/01/2019
                            tr
                                td Công việc
                                td Chăm sóc khách hàng
                            tr
                                td Quận, huyện
                                td Quận 1
                        table
                            tr
                                td(colspan='2') Công việc 2
                            tr
                                td Vị trí ứng tuyển
                                td 
                            tr
                                td Tỉnh, thành muốn làm việc
                                td 
                            tr
                                td Thu nhập đề nghị
                                td 
                            tr
                                td Ngày tiếp nhận công việc
                                td 
                            tr
                                td Công việc
                                td 
                            tr
                                td Quận, huyện
                                td 
                        table
                            tr
                                td(colspan='2') Công việc 3
                            tr
                                td Vị trí ứng tuyển
                                td 
                            tr
                                td Tỉnh, thành muốn làm việc
                                td 
                            tr
                                td Thu nhập đề nghị
                                td 
                            tr
                                td Ngày tiếp nhận công việc
                                td 
                            tr
                                td Công việc
                                td 
                            tr
                                td Quận, huyện
                                td 
                    .form-group.btn-wrapper
                        .frm-btn.frm-continue
                            input(type="button", value="Tiêp tục")
                        .frm-btn.frm-back
                            input(type="button", value="Quay lại")
                        .frm-btn.frm-edit
                            label.mdi-pencil
                            input(type="button", value="Chỉnh sửa")
                        .frm-btn.frm-done
                            input(type="button", value="Hoàn thành hồ sơ")