section.kienlong-quydinhhoso-1
    article
        .container
            .row
                .col-12
                    h2 Quy định hồ sơ ứng viên
                    p Kienlongbank sẽ liên hệ qua mail hoặc số điện thoại đối với các hồ sơ đạt yêu cầu quy định
            .row
                .col-sm-6.col-md-4
                    .item
                        h3 Phiếu thông tin ứng viên
                        a(href="javascript:void(0)")
                            img(src="./img/quanlyhoso/download.png", alt="")
                            | Tải về
                .col-sm-6.col-md-4
                    .item
                        h3 Bằng cấp chứng chỉ
                        span Photo có chứng thực
                .col-sm-6.col-md-4
                    .item
                        h3 Sơ yếu lý lịch
                        span Bản chính có xác nhận của địa phương không quá 6 tháng
                .col-sm-6.col-md-4
                    .item
                        h3 Giấy khám sức khỏe 
                        span Bản chính, không quá 6 tháng
                .col-sm-6.col-md-4
                    .item
                        h3 cmnd/ cccd
                        span Photo, có chứng thực
                .col-sm-6.col-md-4
                    .item
                        h3 quyết định thôi việc
                        span Nếu đã có công tác ở các cơ quan khác
