section.canhcam-home-4(bg-img="./img/recruitment/home/home_share_bg.png")
	.container
		.klb-title
			h2.title Ý kiến khách hàng
		.slide.owl-carousel.owl-theme
			.item
				figure
					.img
						img.img-fluid(src="./img/mainweb/home/home_8.png", alt="")
					figcaption
						h5.name Ông Trịnh Thiếu Thu
						p.position Giám đốc Công ty ABC
						p.text Ngân hàng Kiên Long có nhiều sản phẩm, dịch vụ phù hợp với nhiều đối tượng khách hàng, cùng với lãi suất hấp dẫn, tôi rất yên tâm khi sử dụng dịch vụ cũng như gửi tiết kiệm ở đây.
			.item
				figure
					.img
						img.img-fluid(src="./img/mainweb/home/home_8.png", alt="")
					figcaption
						h5.name Ông Trịnh Thiếu Thu
						p.position Giám đốc Công ty ABC
						p.text Ngân hàng Kiên Long có nhiều sản phẩm, dịch vụ phù hợp với nhiều đối tượng khách hàng, cùng với lãi suất hấp dẫn, tôi rất yên tâm khi sử dụng dịch vụ cũng như gửi tiết kiệm ở đây.
			.item
				figure
					.img
						img.img-fluid(src="./img/mainweb/home/home_8.png", alt="")
					figcaption
						h5.name Ông Trịnh Thiếu Thu
						p.position Giám đốc Công ty ABC
						p.text Ngân hàng Kiên Long có nhiều sản phẩm, dịch vụ phù hợp với nhiều đối tượng khách hàng, cùng với lãi suất hấp dẫn, tôi rất yên tâm khi sử dụng dịch vụ cũng như gửi tiết kiệm ở đây.
			.item
				figure
					.img
						img.img-fluid(src="./img/mainweb/home/home_8.png", alt="")
					figcaption
						h5.name Ông Trịnh Thiếu Thu
						p.position Giám đốc Công ty ABC
						p.text Ngân hàng Kiên Long có nhiều sản phẩm, dịch vụ phù hợp với nhiều đối tượng khách hàng, cùng với lãi suất hấp dẫn, tôi rất yên tâm khi sử dụng dịch vụ cũng như gửi tiết kiệm ở đây.
