section.canhcam-footer-1
	.container
		.row
			.col-lg-4.col-md-4.item
				h3 Kienlongbank.com
				nav.list-group
					.list-group-item
						a(href="#")
							| Tổng quan Kienlongbank
					.list-group-item
						a(href="#")
							| Quá trình hình thành và phát triển
					.list-group-item
						a(href="#")
							| Cơ cấu quản trị
					.list-group-item
						a(href="#")
							| Mạng lưới
			.col-lg-4.col-md-4.item
				h3 Thực tập sinh
				nav.list-group
					.list-group-item
						a(href="#")
							| Đăng ký thực tập
					.list-group-item
						a(href="#")
							| Chương trình thực tập
			.col-lg-4.col-md-4.item
				h3 Truy cập nhanh
				nav.list-group
					.list-group-item
						a(href="#")
							| Quản lý hồ sơ
					.list-group-item
						a(href="#")
							| Danh sách công việc
					.list-group-item
						a(href="#")
							| Thông tin tuyển dụng
					.list-group-item
						a(href="#")
							| Vị trí tuyển dụng
					.list-group-item
						a(href="#")
							| Tải mẫu thông tin ứng viên