section.canhcam-rw-1
	.article
		.row
			.col
					h1.head-title.text-center Chúng tôi là
		.row.canhcam-card-wrapper
			.col-12.px-lg-0
				.canhcam-card
					.canhcam-card-content
						.canhcam-card-content-wrapper
							h3 Xây dựng một đội ngũ cán bộ, nhân viên chuyên nghiệp, năng động, sáng tạo và đầy nhiệt huyết, có chuyên môn, kinh nghiệm
							p Kienlongbank định hướng xây dựng một đội ngũ cán bộ, nhân viên (CBNV) chuyên nghiệp, năng động, sáng tạo và đầy nhiệt huyết, có chuyên môn, kinh nghiệm để đưa Kienlongbank trở thành một trong những Ngân hàng bán lẻ hàng đầu Việt Nam trong tương lai. Tính đến tháng 31/12/2017, tổng số nhân sự của Kienlongbank là 4.113 người, trong đó nhân sự chính thức là 2.419 CB, NV và CTV là 1.649 người.
					.canhcam-card-image(bg-img='./img/recruitment/we_are/we_are_1.png')
						figure
							img.w-100.d-lg-none(src='./img/recruitment/we_are/we_are_1.png', alt='')
				.canhcam-card
					.canhcam-card-content
						.canhcam-card-content-wrapper
							h3 Thường xuyên tổ chức các khóa đạo tạo hội nhập dành cho nhân viên tân tuyển
							p Trong năm 2017, Kienlongbank đã triển khai hàng loạt các chương trình đào tạo với các loại hình đa dạng. Tổ chức 48 khóa đào tạo chuyên môn và kỹ năng cho 4.013 lượt CBNV tham dự. Để CBNV mới nhanh chóng hòa nhập môi trường, văn hóa và nắm vững các giá trị cốt lõi của Ngân hàng, Kienlongbank đã thường xuyên tổ chức các khóa đạo tạo hội nhập dành cho nhân viên tân tuyển. Đồng thời, cử hàng trăm CBNV tham gia các hội nghị, hội thảo, các khóa đào tạo bên ngoài nhằm nắm bắt thông tin, quy định mới, các kỹ năng, kiến thức phục vụ công tác chuyên môn, đặc thù của từng vị trí.
					.canhcam-card-image(bg-img='./img/recruitment/we_are/we_are_2.png')
						figure
							img.w-100.d-lg-none(src='./img/recruitment/we_are/we_are_2.png', alt='')
				.canhcam-card
					.canhcam-card-content
						.canhcam-card-content-wrapper
							h3 Không ngừng hoàn thiện và nâng cao chất lượng hệ thống E-learning
							p Nhận thức được những giá trị khác biệt mang tính đặc trưng của từng địa phương, trong những năm gần đây, Kienlongbank đã đẩy mạnh hoạt động đào tạo tại đơn vị. Cùng với đó, Kienlongbank không ngừng hoàn thiện và nâng cao chất lượng hệ thống E-learning cả về chất lẫn về lượng. Hiện đang có 26 khóa học, ngân hàng câu hỏi với 850 câu, 18 bộ câu hỏi nghiệp vụ, giúp hỗ trợ công tác đào tạo, bồi dưỡng, đánh giá và nâng cao kiến thức mọi lúc, mọi nơi cho CBNV Kienlongbank, góp phần vào sự phát triển bền vững của Kienlongbank.
					.canhcam-card-image(bg-img='./img/recruitment/we_are/we_are_3.png')
						figure
							img.w-100.d-lg-none(src='./img/recruitment/we_are/we_are_3.png', alt='')
