section.canhcam-need-detail-3
	.container
		.need-title
			h2.title Đăng ký Vay
		.row.no-gutters.bord
			.col-12.order-2.order-lg-1.col-lg-6
				.fill-info
					.form-group.d-flex
						button Ông
						button Bà
						.form-name.w-100
							.input-group
								input.form-control(type='text', placeholder="Họ và tên...", aria-label="Name", aria-describedby='basic-addon2')
					.form-group
						.input-group
							input.form-control(type='text', placeholder="Email của bạn...", aria-label="Name", aria-describedby='basic-addon2')
					.form-group
						.input-group
							input.form-control(type='text', placeholder="Số di động...", aria-label="Name", aria-describedby='basic-addon2')
					.form-group
						p.ques Hiện tại bạn đang sống ở đâu?
						.sl-addr
							select.custom-select.custom-select-lg
								option(selected="") Chọn tỉnh, thành phố...
								option(value="item 1") item 1
								option(value="item 2") item 2
								option(value="item 3") item 3
					.form-group
						p.ques Thu nhập hàng tháng của bạn
						.sl-addr
							select.custom-select.custom-select-lg
								option(selected="") Chọn tỉnh, thành phố...
								option(value="item 1") item 1
								option(value="item 2") item 2
								option(value="item 3") item 3
					p.notice * Tất cả thông tin bạn cung cấp, Kienlongbank cam kết bảo mật
					.submit
						
						a.btn.btn-reg(href="#") ĐĂNG KÝ
			.col-12.order-1.order-lg-2.col-lg-6(bg-img="./img/mainweb/need_detail/detail_1.png")
				.banner
					img.img-fluid.d-lg-none.w-100(src='./img/mainweb/need_detail/detail_1.png', alt='')
