section.canhcam-need-detail-3
	article
		.container
			.need-title
				h2.title góp ý cùng kienlongbank
			.row.no-gutters.bord.px-4
				.col-12.order-2.order-lg-1.col-lg-6.form-col
					.fill-info
					
						.form-group
							label Họ và tên * :
							.form-name.d-flex
								button Ông
								button Bà
								.form-name.w-100
									.input-group
										input.form-control(type='text', placeholder="Họ và tên...", aria-label="Name", aria-describedby='basic-addon2')
						.form-group
							label Địa chỉ email * :
							.input-group
								input.form-control(type='text', placeholder="Email của bạn...", aria-label="Name", aria-describedby='basic-addon2')
						.form-group
							label Số điện thoại *:
							.input-group
								input.form-control(type='text', placeholder="Số di động...", aria-label="Name", aria-describedby='basic-addon2')
						p.notice.mb-0 Những ý kiến đóng góp của bạn là vô cùng trân quý để giúp Kienlongbank phục vụ khách hàng ngày một tốt hơn. Chúng tôi cam kết bảo mật các thông tin mà bạn cung cấp.
				.col-12.order-1.order-lg-2.col-lg-6.form-col
					.fill-info
						.form-group
							label Tiêu đề * :
							.input-group
								input.form-control(type='text', placeholder="Email của bạn...", aria-label="Name", aria-describedby='basic-addon2')
						.form-group
							label Nội dung
							.input-group
								textarea.form-control(placeholder="Số di động...", aria-label="Name", aria-describedby='basic-addon2')
						.submit
							a.btn.btn-reg(href="#") ĐĂNG KÝ
