section.kienlong-ntdXemHoSo
    .container
        .row
            .col
                .kienlong-title
                    h1.title Nhà tuyển dụng xem hồ sơ
                .note
                    p 
                        b Lưu ý: 
                        | Bạn không xem được việc làm đã hết hạn đăng tuyển hoặc tạm ngưng nhận hồ sơ 
        .row
            .col
                .kienlong-table
                    table
                        thead
                            tr
                                th STT
                                th Vị trí tuyển dụng
                                th Ngày xem
                        tbody
                            -for(i=0;i<18;i++)
                                tr
                                    td=i
                                    td Giám đốc phòng giao dịch
                                    td 24/10/1999
        .row
            .col
                include ../pagination/index.pug