footer.canhcam-footer-2
	.footer-content
		.container
			.row
				.col-lg-3
					.slogan
						.logo
							a(href="")
								img(src="./img/logo.png", alt="logo")
				.col-lg-6
					.quote
						h6.h6 Ngân hàng TMCP Kiên Long (Kienlongbank)
						.text
							p Hội sở: 40-42-44 Phạm Hồng Thái, P.Vĩnh Thanh Vân, Tp.Rạch Giá, T.Kiên Giang 
							p Tp. HCM: 98-108A Cách Mạng Tháng 8, P.7, Q.3, Tp.HCM
							p Điện thoại: (0297) 3869 950 hoặc (028) 3933 3393
							p Hotline: 1900 6929 hoặc (028) 7309 6929 - Mã SWIFT: KLBKVNVX
							p Email: 
								a(href='#') kienlong@kienlongbank.com 
								| hoặc 
								a(href='#') chamsockhachhang@kienlongbank.com
				.col-lg-3.social
					h6.h6 Liên kết nhanh
					ul.list-inline
						li.list-item
							a(href='#')
								em.fa-mobile-alt
						li.list-item
							a(href='#')
								em.fa-facebook-f
						li.list-item
							a(href='#')
								em.fa-youtube
						li.list-item
							a(href='#')
								em.fa-google-plus-g
						li.list-item
							a(href='#')
								em.fa-zalo
	.container
		.copy-right
			.row
				.col-lg-3
					.bottom-menu
						a(href="#") Điều khoản & Điều kiện sử dụng
						a(href="#") Sitemap
				.col-lg-6
					.copy
						p Copyright © 2018 PVOIL. All right reserved. Designed by
							a(href="#")  Cánh Cam.
