section.canhcam-rh-5(bg-img=("./img/recruitment/home/home_recruit_bg.png"))
	.container
		.row
			.col
				.title.text-center
					h2 hướng dẫn dự tuyển
					p Ứng viên thực hiện theo hướng dẫn sau
		.row
			.col-lg
				.block-step
					figure
						img.img-fluid.w-100(src='./img/recruitment/home/home_bg_apply.png', alt='')
						figcaption
							img.img-fluid(src='./img/recruitment/home/home_reg_1.png', alt='')
							h3 Cách 1
							p.text-center Click vào nút 
								span “Ứng tuyển” 
								| tại màn hình chi tiết của vị trí tuyển dụng
			.col-lg
				.block-step
					figure
						img.img-fluid.w-100(src='./img/recruitment/home/home_bg_apply.png', alt='')
						figcaption
							img.img-fluid(src='./img/recruitment/home/home_reg_2.png', alt='')
							h3 Cách 2
							p.text-center Tải 
								span Thông tin ứng viên 
								| và gửi về 
								span.email tuyendung@kienlongbank.com
			.col-lg
				.block-step
					figure
						img.img-fluid.w-100(src='./img/recruitment/home/home_bg_apply.png', alt='')
						figcaption
							img.img-fluid(src='./img/recruitment/home/home_reg_3.png', alt='')
							h3 Cách 3
							p.text-center 
								span Nộp hồ sơ trực tiếp 
								| tại địa chỉ 98-108A Cách Mạng Tháng Tám, P.7, Q.3, TP.HCM
		.row
			.col
				.title.text-center
					h2 sơ đồ tuyển dụng
					p Kienlongbank sẽ liên hệ các ứng viên phù hợp với tiêu chí tuyển dụng
		.row.no-gutters
			.owl-carousel.owl-theme
				.item
					.col.p-0
						figure
							img.img-fluid(src='./img/recruitment/home/home_chart_icon_1.png', alt='')
							figcaption.text-center
								h4 Tham gia 
									br
									|ứng tuyển
				.item
					.col.p-0
						figure
							img.img-fluid(src='./img/recruitment/home/home_chart_icon_2.png', alt='')
							figcaption.text-center
								h4 Tiếp nhận và
									br
									| sàng lọc hồ sơ
				.item
					.col.p-0
						figure
							img.img-fluid(src='./img/recruitment/home/home_chart_icon_3.png', alt='')
							figcaption.text-center
								h4 Tham gia 
									br
									| phỏng vấn
				.item
					.col.p-0
						figure
							img.img-fluid(src='./img/recruitment/home/home_chart_icon_4.png', alt='')
							figcaption.text-center
								h4 Thông báo
									br
									| quyết định
									br
									| tuyển dụng
				.item
					.col.p-0
						figure
							img.img-fluid(src='./img/recruitment/home/home_chart_icon_5.png', alt='')
							figcaption.text-center
								h4 Hoàn thiện 
									br
									| hồ sơ sau khi
									br
									| tuyển dụng
				//- .item.last
					.col.p-0
						figure
							img.img-fluid(src='./img/recruitment/home/home_chart_icon_5.png', alt='')
							figcaption.text-center
								h4 Tham gia 
									br
									|ứng tuyển
