section.canhcam-news-1
	.container
		.row.no-gutters
			.col-lg-1.align-self-center
				h2.news-title Tin mới
			.col-lg-10.align-self-center
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a(href="javascript:void(0)") Kienlongbank khai trương Chi nhánh đầu tiên tại tỉnh Lâm Đồng
						.swiper-slide
							a(href="javascript:void(0)") Kienlongbank khai trương Chi nhánh đầu tiên tại tỉnh Lâm Đồng
						.swiper-slide
							a(href="javascript:void(0)") Kienlongbank khai trương Chi nhánh đầu tiên tại tỉnh Lâm Đồng
						.swiper-slide
							a(href="javascript:void(0)") Kienlongbank khai trương Chi nhánh đầu tiên tại tỉnh Lâm Đồng
						.swiper-slide
							a(href="javascript:void(0)") Kienlongbank khai trương Chi nhánh đầu tiên tại tỉnh Lâm Đồng
			.col-lg-1.align-self-center
				.swiper-nav
					.swiper-prev
						em.mdi.mdi-chevron-left
					.swiper-next
						em.mdi.mdi-chevron-right