section.canhcam-rh-3(bg-img="./img/recruitment/we_are/we_are_search_bg.png")
	//- .container
	.container
		.big-block
			.row
				.col
					.block-search.d-lg-flex
						.form-job
							.input-group
								i.material-icons work
								input.form-control(type='text', placeholder="Nhập tên kỹ năng, công việc...", aria-label="Name", aria-describedby='basic-addon2')
						.sl-position
							i.material-icons recent_actors
							select.custom-select.custom-select-lg
								option(selected="") Chọn vị trí
								option(value="item 1") item 1
								option(value="item 2") item 2
								option(value="item 3") item 3
						.sl-place
							i.material-icons place
							select.custom-select.custom-select-lg
								option(selected="") Chọn nơi làm việc
								option(value="item 1") item 1
								option(value="item 2") item 2
								option(value="item 3") item 3
						a.btn-search(href="#")
							|
							i.material-icons find_in_page
							| TÌM KIẾM 
			.row.text-right
				.col
					.block
						.block-download
							a(href="#")
								|
								i.material-icons description
								| Tải mẫu thông tin ứng viên
