section.kienlong-quanlyhoso-1
    article.quanhegiadinh
        .container
            .row
                .col-lg-3
                    span.nav-qlhs-toggle Danh mục
                        em.mdi-arrow-down-drop-circle-outline
                    nav.nav-qlhs
                        a(href="javascript:void(0)") Thông tin cá nhân
                        a(href="javascript:void(0)") Nguyện vọng làm việc
                        a(href="javascript:void(0)") Quá trình đào tạo
                        a(href="javascript:void(0)") Kinh nghiệm làm việc
                        a(href="javascript:void(0)") Thông tin bổ sung
                        a(href="javascript:void(0)") Quan hệ gia đình
                        a(href="javascript:void(0)") Xem hồ sơ
                .col-lg-9
                    h2 quan hệ gia đình
                    span.warning Ghi đầy đủ thông tin cha, mẹ, anh, chị, em, vợ hoặc chồng và các con
                    .wrap-form
                        #id
                            .form-group
                                label Họ và tên
                                .settingcontrol
                                    input(type="text")
                            .form-group.frm-select
                                label Quan hệ
                                .settingcontrol
                                    select
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                                    label Năm sinh
                                    select
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                                        option(value="lorem") lorem 1
                            .form-group
                                label Nghề nghiệp
                                .settingcontrol
                                    input(type="text")
                            .form-group
                                label Nơi làm việc/Tình trạng
                                .settingcontrol
                                    input(type="text")
                            .form-group
                                label Địa chỉ thường trú
                                .settingcontrol
                                    input(type="text")
                            .form-group
                                a(href="javascript:void(0)").btn-addcontent Thêm quan hệ gia đình
                            .form-group.frm-btnwrap
                                .frm-btn.frm-save
                                    label.mdi-check
                                    input(type="button", value="Lưu")
                                .frm-btn.frm-abort
                                    label.mdi-close
                                    input(type="button", value="Hủy bỏ")
                                .frm-btn.frm-complete
                                    label
                                    input(type="submit", value="Hoàn tất hồ sơ")