section.kienlong-dangkythanhcong-1
    article
        .container
            .row
                .col-12
                    h2 đăng ký thành công
                    p 
                        | Chúc mừng bạn đã đăng ký thành công tài khoản trên Website Tuyển dụng Kienlongbank. Ngân hàng chúng tôi đã gửi email kích hoạt tài khoản đến địa chỉ email 
                        a(href="javascript:void(0)") thanhtrucbb@hotmail.com 
                        | mà bạn vừa đăng ký, bạn vui lòng kiểm tra hộp thư đến/inbox hoặc hộp thư rác/spam. 
                    p 
                        b Lưu ý: 
                        | bạn chỉ có thể đăng nhập sau khi kích hoạt tài khoản.
                    .img
                        img(src="./img/dangkythanhcong/1.jpg", alt="")
                        img(src="./img/dangkythanhcong/2.png", alt="")