section.kienlong-lienhe-1
    article
        .container
            .row
                .col-12
                    h2 Liên hệ
                    p Ngân hàng TMCP Kiên Long - Kienlongbank được thành lập vào năm 1995 tại tỉnh Kiên Giang. Hơn 23 năm vươn mình và phát triển, Kienlongbank hiện có mạng lưới hoạt động trải dài từ Bắc vào Nam với 134 Chi nhánh/Phòng giao dịch tại 28 tỉnh, thành trên cả nước với đội ngũ hơn 4.500 CBNV, CTV.
                    p Với triết lý kinh doanh cốt lõi “Tâm – Tín – Kiên – Xanh”, Kienlongbank là một trong những Ngân hàng thương mại cổ phần uy tín và phát triển bền vững trên thị trường tài chính Ngân hàng tại Việt Nam. Kienlongbank hoạt động theo tiêu chí An toàn, bền vững và lợi nhuận hợp lý, đảm bảo sự an toàn, hài lòng và không ngừng mang lại giá trị gia tăng cho khách hàng. Với phương châm "Sẵn lòng chia sẻ", Kienlongbank luôn tiên phong trong các hoạt động an sinh xã hội vì cộng đồng thông qua các chương trình thiện nguyện. Chiến lược phát triển của Kienlongbank đến năm 2020 sẽ nằm trong TOP 15 Ngân hàng bán lẻ hiện đại hàng đầu tại Việt Nam. 
                    p Làm việc tại Kienlongbank, bạn sẽ được tham gia vào một môi trường năng động, chuyên nghiệp với đội ngũ lãnh đạo tận tâm và chuyên nghiệp. Nơi đây, bạn có thể học hỏi, cống hiến và thực hiện được những ước mơ, hoài bão trên con đường sự nghiệp của mình. Tại Kienlongbank, Ban lãnh đạo luôn coi nhân sự là yếu tố then chốt quyết định thành công của Ngân hàng. Chính vì lý do đó, mọi đóng góp, nỗ lực của bạn sẽ được ghi nhận và khích lệ tương xứng bằng chính sách đãi ngộ hấp dẫn, chính sách phúc lợi vượt trội và cơ hội thăng tiến rõ ràng.
            .row
                .col-lg-6
                    .item
                        figure
                            img(src="./img/lienhe/kienlong.png", alt="alt")
                            figcaption
                                h3 ngân hàng tmcp kiên long phòng nhân sự
                                ul
                                    li 98-108A Cách Mạng Tháng 8, P.7, Q.3, Tp.HCM
                                    li (028) 3933 3393
                                    li tuyendung@kienlongbank.com
                .col-lg-6
                    .item
                        figure
                            img(src="./img/lienhe/facebook.png", alt="alt")
                            figcaption
                                p Tham gia cộng đồng fan của chúng tôi để cập nhật những tin tức mới nhất, các cuộc thi và nhiều hơn thế nữa.
                                a(href="javascript:void(0)") Thích ngay
                .col-lg-6
                    .item
                        figure
                            img(src="./img/lienhe/youtube.png", alt="alt")
                            figcaption
                                p Xem những video mới nhất về các mẹo kiểm soát tài chính và các chương trình khuyến mãi hấp dẫn
                                a(href="javascript:void(0)") Theo dõi ngay
                .col-lg-6
                    .item
                        figure
                            img(src="./img/lienhe/zalo.png", alt="alt")
                            figcaption
                                p Kết nối với chúng tôi để nhận thông tin khuyến mãi - Ưu đãi mới nhất ngay hôm nay
                                a(href="javascript:void(0)") Quan tâm ngay