section.kienlong-quanlyhoso-1
    article.thongtinbosung
        .container
            .row
                .col-lg-3
                    span.nav-qlhs-toggle Danh mục
                        em.mdi-arrow-down-drop-circle-outline
                    nav.nav-qlhs
                        a(href="javascript:void(0)") Thông tin cá nhân
                        a(href="javascript:void(0)") Nguyện vọng làm việc
                        a(href="javascript:void(0)") Quá trình đào tạo
                        a(href="javascript:void(0)") Kinh nghiệm làm việc
                        a(href="javascript:void(0)") Thông tin bổ sung
                        a(href="javascript:void(0)") Quan hệ gia đình
                        a(href="javascript:void(0)") Xem hồ sơ
                .col-lg-9
                    h2 Thông tin bổ sung
                    .wrap-form
                        #id
                            .form-group.frm-column
                                label Lý do bạn muốn làm việc hoặc những hiểu biết của bạn về ngân hàng Kiên Long ?
                                .settingcontrol
                                    textarea(name="", cols="30", rows="10")
                            .form-group.frm-column
                                label Mục tiêu định hướng nghề nghiệp, dự đinh trong tương lai của bạn
                                .settingcontrol
                                    textarea(name="", cols="30", rows="10")
                            .form-group
                                label Tính cách/Sở thích
                                .settingcontrol
                                    input(type="text")
                            .form-group
                                label Ưu điểm
                                .settingcontrol
                                    input(type="text")
                            .form-group
                                label Khuyến điểm
                                .settingcontrol
                                    input(type="text")
                            .form-group.form-radio
                                label Do yêu cầu công tác, bạn có thể cư trú cách xa nơi sinh sống hay không?
                                .settingcontrol
                                    input(type="radio", name="abc")
                                    label Có
                                    input(type="radio", name="abc")
                                    label Không
                            .form-group.form-radio
                                label Do yêu cầu công tác, bạn có thể đi công tác xa một thời gian dài hay không?
                                .settingcontrol
                                    input(type="radio", name="abc")
                                    label Có
                                    input(type="radio", name="abc")
                                    label Không
                            .form-group.form-radio
                                label Bạn có người thân bạn bè đã/ đang làm việc tại Kiên Long?
                                .settingcontrol
                                    input(type="radio", name="abc")
                                    label Có
                                    input(type="radio", name="abc")
                                    label Không
                            h4 Nếu có bạn vui lòng cho biết: 
                            .form-group.pl-20
                                label Họ và tên
                                .settingcontrol
                                    input(type="text")
                            .form-group.pl-20
                                label Quan hệ
                                .settingcontrol
                                    input(type="text")
                            .form-group.pl-20
                                label Nơi làm việc
                                .settingcontrol
                                    input(type="text")
                            .form-group.form-radio
                                label Bạn có thể làm việc ngoài giờ không?
                                .settingcontrol
                                    input(type="radio", name="abc")
                                    label Có
                                    input(type="radio", name="abc")
                                    label Không
                            .form-group
                                label Lý do
                                .settingcontrol
                                    textarea(name="", cols="20", rows="10")
                            h5 Bạn biết tuyển dụng của ngân hàng Kiên Long từ:
                            .form-group.frm-checkbox
                                .settingcontrol
                                    input(type="checkbox")
                                    label Người thân
                                .settingcontrol
                                    input(type="checkbox")
                                    label Website của Kienlongbank
                                .settingcontrol
                                    input(type="checkbox")
                                    label Đài phát thanh
                                .settingcontrol
                                    input(type="checkbox")
                                    label Báo chí
                            .form-group.frm-checkbox.frm-checkbox-text
                                .settingcontrol
                                    input(type="checkbox")
                                    label Website tìm việc
                                .settingcontrol
                                    input(type="text")
                            .form-group.frm-checkbox.frm-checkbox-text
                                .settingcontrol
                                    input(type="checkbox")
                                    label Khác
                                .settingcontrol
                                    input(type="text")
                                    
                            .form-group.frm-btnwrap
                                .frm-btn.frm-save
                                    label.mdi-check
                                    input(type="button", value="Lưu")
                                .frm-btn.frm-abort
                                    label.mdi-close
                                    input(type="button", value="Hủy bỏ")
                                .frm-btn.frm-complete
                                    label
                                    input(type="submit", value="Hoàn tất hồ sơ")