section.canhcam-boxes-1
	.row.no-gutters
		.col-lg-6.item.active
			a(href="#")
				figure
					.img
						img.w-100(src="./img/mainweb/boxes/boxes_1.png", alt="")
					figcaption
						h2 Điểm giao dịch
		.col-lg-6.item
			a(href="#")
				figure
					.img
						img.w-100(src="./img/mainweb/boxes/boxes_2.png", alt="")
					figcaption
						h2 Điểm giao dịch