section.canhcam-rposd-1
	.container
		.row
			.col-lg-9.col-12
				.block-title
					h3 Trưởng phòng Kế toán - Ngân quỹ
					p.date
						| 
						i.fas.fa-calendar-alt
						|  28/12/2018
				.block-info
					h4 Thông tin tuyển dụng
					table.table
						tbody
							tr
								td Vị trí tuyển dụng: 
								td Trưởng phòng Kế toán - Ngân quỹ

							tr
								td Chức vụ: 
								td Trưởng phòng

							tr
								td Yêu cầu giới tính: 
								td Không yêu cầu

							tr
								td Địa điểm làm việc: 
								td Tp Hồ Chí Minh, Vũng Tàu

							tr
								td Yêu cầu độ tuổi: 
								td 25-35

							tr
								td Mức lương: 
								td Thương lượng

							tr
								td Bằng cấp tối thiểu: 
								td Tốt nghiệp Đại học Ngân Hàng

							tr
								td Số lượng cần tuyển:
								td 2 người

							tr
								td Kinh nghiệm tối thiểu: 
								td 3 năm
				.block-detail
					ul Mô tả công việc
						li Giám sát các giao dịch tài khoản thanh toán, tiết kiệm, giao dịch liên ngân hàng, thanh toán quốc tế theo hạn mức VND, ngoại tệ tương đương được cấp phép.
						li Tổ chức, kiểm soát việc thực hiện các quy trình thanh toán.
						li Kiểm soát điều chuyển vốn giữa Chi nhánh với Hội sở, NHNN và ngược lại; điều chuyển vốn giữa Chi nhánh với các Phòng Giao dịch trực thuộc và  ngược lại.
						li Ký duyệt báo cáo kế toán, báo cáo thuế theo quy định.
						li Kiểm soát việc tổng hợp kế hoạch kinh doanh, xây dựng kế hoạch, kiểm soát và thực hiện kế hoạch chi phí điều hành.

					ul Yêu cầu công việc
						li Tốt nghiệp Đại học trở lên các trường trong và ngoài nước các chuyên ngành Kế toán, Kiểm toán, Kinh tế, Tài chính, Ngân hàng, Quản trị kinh doanh.
						li Có chứng chỉ kế toán trưởng.
						li Ưu tiên ứng viên có hộ khẩu thường trú, am hiểu địa bàn làm việc.
						li Có ít nhất 03 năm kinh nghiệm trong lĩnh vực kế toán ngân hàng, trong đó tối thiểu li 01 năm kinh nghiệm quản lý.
						li Tuổi không quá 36.

					ul Quyền lợi được hưởng
						li  Được tham dự các lớp đào tạo nhà quản lý chuyên nghiệp để phát triển nghề nghiệp.
						li Chế độ phép năm, lễ, tết, bảo hiểm, chăm sóc sức khỏe theo quy định pháp luật.
						li Được hỗ trợ chi phí xăng xe, tiền điện thoại, chế độ công tác,…
						li Được thưởng theo kết quả thu hồi nợ, hiệu quả kinh doanh, các khoản chi bổ sung theo kết quả hoạt động của đơn vị và kết quả công việc của cá nhân.
						li Lương tháng 13, các khoản thưởng năm, lễ, tết theo tình hình thực tế của Ngân hàng.
					p Hạn nộp hồ sơ: 
						span 30/09/2018
				.block-action
					a(href="#").apply.btn Ứng tuyển
					p Hoặc
					a(href="#").download.btn tải mẫu thông tin
						br
						| ứng viên
			.col-lg-3.col-12
				h3.head-sub-title Tuyển dụng khác
				a(href="#").block-news-title
					h4 Phó giám đốc phòng kiểm soát nội bộ
					p
						| 
						i.fas.fa-calendar-alt
						|  28/12/2018
				a(href="#").block-news-title
					h4 Nhân viên thẻ tín dụng
					p
						| 
						i.fas.fa-calendar-alt
						|  28/12/2018
				a(href="#").block-news-title
					h4 Trưởng bộ phận kiểm soát nội bộ Chi nhánh Sài Gòn
					p
						| 
						i.fas.fa-calendar-alt
						|  28/12/2018
				a(href="#").block-news-title
					h4 Trưởng phòng kinh doanh chi nhánh Sài Gòn
					p
						| 
						i.fas.fa-calendar-alt
						|  28/12/2018
				a(href="#").block-news-title
					h4 Nhân viên phát triển ứng dụng
					p
						| 
						i.fas.fa-calendar-alt
						|  28/12/2018


  
