header.kienlong-header-1
    section.top-nav
        .container
            .top-nav-wrapper
                .logo-wrapper
                    img(src="./img/logo.png", alt="")
                .top-right-nav
                    .hotline
                        span.mdi.mdi-phone
                        a(href="javascript:void(0)") 028.3933.3393
                    .language
                        a(href="javascript:void(0)") Tiếng Việt