header.kienlong-header-1
    section.top-nav
        .container
            .top-nav-wrapper
                .logo-wrapper
                    img(src="./img/logo.png", alt="")
                .top-right-nav
                    .hotline
                        span.mdi.mdi-phone
                        a(href="javascript:void(0)") 028.3933.3393
                    .language
                        span.dropdown Tiếng Việt
                        ul.dropdown-menu
                            li
                                a(href="javascript:void(0)") Tiếng Việt
                            li
                                a(href="javascript:void(0)") English
                    .account
                        .login.d-none
                            a(href="javascript:void(0)") Đăng nhập
                        .sign-up.d-none
                            a(href="javascript:void(0)") Đăng ký
                        .after-login
                            .avatar
                                img(src="./img/avatar.jpg", alt="")
                            .username
                                span Thanh trúc
                            .user-management
                                h2.title Quản lý nghề nghiệp
                                ul
                                    li.active
                                        a(href="javascript:void(0)") Quản lý hồ sơ
                                    li
                                        a(href="javascript:void(0)") Danh sách công việc
                                    li
                                        a(href="javascript:void(0)") Nhà tuyển dụng xem hồ sơ
                                a(href="javascript:void(0)").title Tài khoản
                                a(href="javascript:void(0)").title Đăng xuất
                    .menu-toggle
                        span.mdi-apps

    section.bottom-nav
        .container
            ul.main-menu
                li.menu-item.active
                    a(href="javascript:void(0)").menu-link Chúng tôi là
                li.menu-item
                    a(href="javascript:void(0)").menu-link Tại sao chọn Kiên long bank
                li.menu-item
                    a(href="javascript:void(0)").menu-link Chính sách nhân sự
                li.menu-item
                    a(href="javascript:void(0)").menu-link Chương trình đào tạo
                li.menu-item
                    a(href="javascript:void(0)").menu-link.has-sub Qui định quy trình
                    ul.sub-menu
                        li
                            a(href="javascript:void(0)") Quy trình tuyển dụng
                        li
                            a(href="javascript:void(0)") Quy định hồ sơ ứng tuyển
                        li
                            a(href="javascript:void(0)") Hướng dẫn tạo hồ sơ

                li.menu-item
                    a(href="javascript:void(0)").menu-link Đăng ký nhận thông báo
                li.menu-item
                    a(href="javascript:void(0)").menu-link Hỏi đáp
