.kienlong-header-1
    position: fixed
    top: 0
    width: 100%
    z-index: 9999
    transition: 0.3s ease-in-out
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2)
    @media (max-width: 576px)
        box-shadow: none
    &.minimize
        @media (min-width: 992px)
            transition: 0.3s ease-in-out
            .logo-wrapper
                img
                    height: 2rem
                    transition: .3s ease-in-out
            .hotline
                a, span
                    font-size: 16px
            .top-nav
                padding: 3px 0
    .top-nav
        padding: r(8px) 0 r(8px)
        background: #ffffff
        transition: .3s ease-in-out
        @media (max-width: 576px)
            width: 95%
            border-radius: 6px
            padding: 2px 0
            margin-left: 2.5%
            margin-top: r(12px)
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    .top-nav-wrapper
        display: flex
        justify-content: space-between
        align-items: center
    .top-right-nav
        display: flex
        align-items: center
    .logo-wrapper
        img
            transition: .3s ease-in-out
            height: 3.75rem
            width: auto
        @media (max-width: 576px)
            img
                max-height: 2rem
    .hotline
        margin-right: r(15px)
        span,a
            color: #d73648
            font-size: r(24px)
            transition: .3s ease-in-out
        a
            font-weight: 700
            margin-left: r(9px)
        @media (max-width: 992px)
            span,a
                color: #0f848d
                font-size: 20px
    .language
        position: relative
        border-radius: 12px
        border: 1px solid #00717c
        z-index: 1
        .sub-logo
            display: none
        .btn-close-menu
            display: none
        span,a
            font-size: r(11px)
            font-weight: 500
            color: #00717c
            text-transform: uppercase
            cursor: pointer
        .dropdown
            width: r(95px)
            height: r(24px)
            display: flex
            justify-content: center
            align-items: center
            &:after
                +material("\f140")
                font-size: r(18px)
        .dropdown-menu
            display: none
            position: absolute
            list-style: none
            right: 0
            background: #00717c
            width: 100%
            border-radius: 10px
            top: 115%
            padding: 0.5rem
            z-index: 100
            float: none
            left: inherit
            a
                color: white
            &.show
                display: block
        @media (max-width: 992px)
            display: flex
            align-items: center
            justify-content: space-between
            border: 0
            border-radius: 0
            padding-bottom: 1rem
            border-bottom: 1px solid #e1e1e1
            .sub-logo
                display: block
                img
                    max-height: 2rem
            .btn-close-menu
                display: block
                height: 25px
                width: 25px
                border: 1px solid #0f848d
                display: flex
                align-items: center
                justify-content: center
                border-radius: 50%
                .mdi-close
                    font-size: 18px
                    color: #0f848d
            span
                width: r(95px)
                border: 1px solid #0f848d
                color: #0f848d
                border-radius: 12px
    .account
        display: flex
        align-items: center
        .login,.sign-up
            margin-left: r(10px)
            a
                width: r(120px)
                height: r(24px)
                display: flex
                justify-content: center
                align-items: center
                border-radius: 12px
                border: 1px solid #00717c
                font-size: r(11px)
                font-weight: 500
                color: #00717c
                text-transform: uppercase
                &:before
                    +material('\f306')
                    font-size: r(18px)
                    margin-right: r(9px)
            &:hover
                a
                    background: linear-gradient( to top, rgb(236,32,41) 0%, rgb(255,65,119) 100%)
                    color: white
                    border: 1px solid #d73347
        .sign-up
            a
                &:before
                    +material('\f3eb')
                    font-size: r(18px)
                    margin-right: r(9px)
        .after-login
            margin-left: r(29px)
            display: flex
            align-items: center
            position: relative
            @media (max-width: 576px)
                position: static
            .avatar
                width: r(39px)
                height: r(39px)
                border-radius: 50%
                border: 1.25px solid #00717c
                overflow: hidden
                position: relative
                z-index: 2
                background-color: #fff
                img
                    height: 100%
                    width: 100%
                    object-fit: cover
            .username
                height: r(24px)
                // width: r(128px)
                display: flex
                justify-content: center
                align-items: center
                background: #00717c
                border-radius: 12px
                margin-left: -1.1rem
                cursor: pointer
                position: relative
                padding-left: 16px
                z-index: 1
                span
                    font-size: r(12px)
                    color: #ffffff
                    display: flex
                    align-items: center
                    margin-left: 0.9rem
                    text-transform: capitalize
                    &:after
                        +material("\f140")
                        font-size: r(18px)
                        margin-left: r(11px)
                    @media (max-width: 576px)
                        display: none
            .user-management
                position: absolute
                top: calc(100% + 17px)
                right: 0
                width: r(255px)
                height: auto
                background: rgba(10, 113, 121,0.95)
                border-radius: 5px
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1)
                padding: r(19px) 0 r(26px) 
                display: none
                z-index: 10001
                @media (max-width: 576px)
                    left: 50%
                    transform: translate(-50%)
                &:before
                    position: absolute
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 14px 11px 14px
                    border-color: transparent transparent rgba(10, 113, 121,0.95) transparent
                    top: -11px
                    right: 72px
                    transition: 0.3s all ease-in-out
                    @media (max-width: 576px)
                        display: none
                .title
                    padding: 0 r(22px) 0 r(19px)
                    text-transform: uppercase
                    font-size: r(15px)
                    color: #c4f8fc
                    font-weight: 600
                a.title
                    padding-top: r(12px)
                    padding-bottom: r(12px)
                    width: 100%
                    display: block
                    position: relative
                    transition: .3s ease-in-out
                    &:hover
                        color: #ffffff
                    &:before,&:after
                        position: absolute
                        content: ''
                        width: 85%
                        height: 1.3px
                        background: #398c93
                        left: 50%
                        transform: translateX(-50%)
                        padding: 0 r(22px) 0 r(19px)
                    &:before
                        top: -1px
                    &:after
                        bottom: 0
                    &:last-child
                        &:before,&:after
                            display: none
                ul
                    list-style: none
                    margin-bottom: r(13px)
                    li
                        a
                            transition: .3s ease-in-out
                            padding: r(8px) r(22px) r(6px) r(19px)
                            font-size: r(13px)
                            color: #ffffff
                            font-weight: 500
                            display: flex
                            align-items: center
                            border-bottom: 1px solid rgba(0,0,0,0)
                            &:before
                                margin-right: r(14px)
                        &:nth-child(1)
                            a:before
                                display: block
                                content: ''
                                background-image: url('.././img/user/1.png')
                                width: r(20px)
                                height: r(18px)
                        &:nth-child(2)
                            a:before
                                display: block
                                content: ''
                                background-image: url('.././img/user/2.png')
                                width: r(20px)
                                height: r(18px)
                        &:nth-child(3)
                            a:before
                                display: block
                                content: ''
                                background-image: url('.././img/user/3.png')
                                width: r(20px)
                                height: r(18px)
                        &:hover,&.active
                            a
                                background: rgba(10, 113, 121,1)
                        &:hover
                            a
                                border-bottom: 1px solid #ffffff
        @media (max-width: 992px)
            .login,.sign-up
                margin-left: 0
                a
                    width: 100%
                    border: 0
                    &:before
                        display: none
            .sign-up
                margin-left: r(8px)
                margin-right: r(8px)
            .login
                position: relative
                margin-right: r(8px)
                &:before
                    position: absolute
                    content: ''
                    width: 1px
                    top: 50%
                    right: -7.5px
                    width: 1px
                    height: 10px
                    background-color: #0e6e78
                    transform: translateY(-50%)
            .after-login
                margin-left: 0.75rem
    .bottom-nav
        background: #0f848d
        @media (max-width: 992px)
            position: fixed
            width: 100%
            height: 100%
            top: 0
            padding-top: 1rem
            padding-bottom: 1rem
            overflow-y: auto
            z-index: 9999
            background-color: #ffffff
            transform: translateX(-100%)
            +tran(0.3s)
            &.active
                transform: translateX(0)
                +tran(0.3s)
    .menu-toggle
        display: none
        @media (max-width: 992px)
            display: block
            margin-left: 0.5rem
            span
                color: #00717c
                font-size: r(28px)
    .main-menu
        display: flex
        list-style: none
        justify-content: space-between
        margin-bottom: 0
        height: 100%
        .menu-item
            padding: r(12px) r(18px)
            text-align: center
            border-left: 1px solid rgba(0,0,0,0.15)
            display: flex
            justify-content: center
            align-items: center
            position: relative
            &.active,&:hover
                @media (min-width: 992px)
                    background: #0d7078
                    .sub-menu
                        display: block
            .menu-link
                color: white
                font-size: r(15px)
                text-transform: uppercase
                font-weight: 500
                @media (max-width: 992px)
                    color: #333333
                    text-transform: none
                @media (min-width: 992px)
                    font-size: 12px
                @media (min-width: 1200px)
                    font-size: 15px
            .sub-menu
                position: absolute
                top: calc(100% + 7px)
                width: r(255px)
                list-style: none
                right: 0
                text-align: left
                background: rgba(10, 113, 121,0.95)
                border-radius: 5px
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1)
                padding-top: 3px
                display: none
                z-index: 2
                &:before
                    position: absolute
                    content: ''
                    border-style: solid
                    border-width: 0 13px 6px 13px
                    border-color: transparent transparent #16787f transparent
                    top: -6px
                    right: r(73px)
                li
                    padding: 8px
                    text-align: center
                    position: relative
                    transition: .3s ease-in-out
                    &:nth-child(2)
                        &:before,&:after
                            position: absolute
                            content: ''
                            width: 90%
                            height: 1.3px
                            background: #398c93
                            left: 50%
                            transform: translateX(-50%)
                            padding: 0 r(22px) 0 r(19px)
                        &:before
                            top: 0
                        &:after
                            bottom: 0
                    @media (max-width: 992px)
                        text-align: left
                        padding-left: 30px !important
                    a
                        font-size: r(15px)
                        color: #c4f8fc
                        font-weight: 600
                        text-transform: uppercase
                        transition: .3s ease-in-out
                        @media (max-width: 992px)
                            text-transform: initial
                            text-align: left
                            color: #333333
                    @media (min-width: 992px)
                        &:hover, &.active
                            background-color: rgba(0,0,0,.15)
                            a
                                color: #ffffff
                &.show
                    display: block

            &:last-child
                flex-shrink: 0
                border-right: 1px solid rgba(0,0,0,0.15)
                .menu-link
                    display: flex
                    align-items: center
                    &:before
                        +material('\f00e')
                        color: #ffffff
                        width: r(29px)
                        height: r(29px)
                        background: linear-gradient( to top, rgb(236,32,41) 0%, rgb(255,65,119) 100%)
                        border: 1.5px solid white
                        border-radius: 50%
                        display: flex
                        justify-content: center
                        align-items: center
                        margin-right: r(18px)
        @media (max-width: 992px)
            margin-top: 1rem
            flex-direction: column
            .menu-item
                border: 0
                justify-content: flex-start
                align-items: flex-start
                padding: 0
                margin-bottom: 1rem
                flex-direction: column
                min-height: 40px
                line-height: 40px
                .menu-link
                    display: block
                    width: 100%
                    height: 100%
                    text-align: left
                    padding-left: 15px
                &.active
                    border-top-right-radius: 20px
                    border-bottom-right-radius: 20px
                    background-color: rgba(15, 132, 141, .15)
                    .menu-link
                        color: #0f848d
                        font-weight: 600
                
                &:last-child
                    border: 0
            .sub-menu
                display: block !important
                position: initial !important
                margin-top: 0.5rem
                background: 0 0 !important
                box-shadow: none !important
                li
                    padding-left: 1rem !important
                    &:nth-child(2)
                        &:before,&:after
                            display: none
                    &:last-child
                        padding-bottom: 0
                    a
                        font-weight: 500 !important
                &:before
                    display: none
