section.kienlong-QLHoSo-2
    .container
        .row
            .col
                .kienlong-title
                    h2.title Tiêu điểm
        .row.list-item
            .col-sm-6.item
                a(href="javascript:void(0)")
                    figure
                        .item-img
                            img(src="./img/tieudiem/1.jpg", alt="")
                        figcaption
                            .item-title
                                h5 Kienlongbank tổ chức đào tạo nhân sự tiềm năng 2018
                            .time
                                time 24.10.1999
            .col-sm-6.item
                a(href="javascript:void(0)")
                    figure
                        .item-img
                            img(src="./img/tieudiem/2.jpg", alt="")
                        figcaption
                            .item-title
                                h5 Kienlongbank tổ chức đào tạo nhân sự tiềm năng 2018
                            .time
                                time 24.10.1999
        .row
            .col
                .view-more
                    a(href="javascript:void(0)").kienlong-link xem thêm