extends _layout/_layout.pug
block var
	- var title = "rec_rules"
	- var description = "Description for rec home page"
	- var bodyclass = "rec_rules"
	- var href = "/rec_rules.html"
block header
	include ../_components/header/index.pug
block main
	
	include ../_components/breadcrumb/index.pug
	include ../_components/rec_home/rh-3/index_we_are.pug
	include ../_components/rec_rules/rr-1/index.pug
	include ../_components/rec_rules/rr-2/index.pug
block footer
	include ../_components/footer/f-1/index.pug
	include ../_components/footer/f-2/index.pug
