extends _layout/_layout.pug

block var
	- title = 'Home'
	- bodyClass = 'index-page'

block header
	include ../_components/header/index.pug
block main
	include ../_components/breadcrumb/index.pug
	include ../_components/tuyendung_ct/index.pug
	include ../_components/news-slide/index.pug
block footer
	include ../_components/footer/f-1/index.pug
	include ../_components/footer/f-2/index.pug