section.kienlong-dangky-1
    article
        .container
            .row
                .col-12
                    h2 Đăng ký
            .row
                .col-lg-7
                    .wrap-form
                        span Vui lòng điền đầy đủ thông tin để Kienlongbank nhanh chóng liên lạc với bạn
                        .form-horizontal
                            .form-group
                                label Email  
                                    small *
                                .settingcontrol
                                    input(type="text", placeholder="Ví dụ: vuhao1912@gmail.com")
                                    a(href="javascript:void(0)") kiểm tra sự tồn tại của Email
                                    span Vui lòng kiểm tra email của bạn để nhận được cơ hội nghề nghiệp và tin mới nhất từ Kienlongbank
                            .form-group
                                label Mật khẩu 
                                    small *
                                .settingcontrol
                                    input(type="password", placeholder="******")
                            .form-group
                                label Xác nhận Mật khẩu 
                                    small *
                                .settingcontrol
                                    input(type="password", placeholder="******")
                            .form-group
                                label Tên
                                    small *
                                .settingcontrol
                                    input(type="text",placeholder="Ví dụ: Duy")
                            .form-group
                                label Họ và tên đệm
                                    small *
                                .settingcontrol
                                    input(type="text",placeholder="Ví dụ: Nguyễn lâm Quang")
                            .form-group
                                label Giới tính
                                    small *
                                .settingcontrol
                                    input(type="radio", name="gender",value="Nam")
                                    label Nam
                                    input(type="radio", name="gender",value="Nữ")
                                    label Nữ
                            .form-group
                                label Quốc gia
                                    small *
                                .settingcontrol
                                    select
                                        option(value="Lorem 1") Lorem 1
                                        option(value="Lorem 1") Lorem 1
                                        option(value="Lorem 1") Lorem 1
                                        option(value="Lorem 1") Lorem 1
                            .form-group
                                label Tỉnh/thành phố
                                    small *
                                .settingcontrol
                                    select
                                        option(value="Lorem 1") Lorem 1
                                        option(value="Lorem 1") Lorem 1
                                        option(value="Lorem 1") Lorem 1
                                        option(value="Lorem 1") Lorem 1
                        .warning
                            span
                                |(
                                small *
                                |) Thông tin bắt buộc
                            span Tất cả những thông tin bạn cung cấp sẽ đựơc Kienlongbank bảo mật
                        .captcha
                            img(src="./img/capcha.png", alt="")
                        input(type="submit", value="Đăng ký")
                .col-lg-5
                    .welcome-content-wrapper
                        p Kienlongbank chào đón các ứng viên, những người muốn đến với chúng tôi bằng tài năng trí tuệ, phẩm chất đạo dức và sự đam mê trong công việc.
                        .welcome-item
                            .icon
                                i.mdi-wallet-travel
                            .text
                                h3 Cơ Hội Được Thăng Tiến
                                p Chính sách nhân sự của Kienlongbank ưu tiên đề bạt nhân viên trẻ có năng lực, nhiệt huyết, và có thành tích tốt trong công việc lên các cấp quản lý cấp trung và cấp cao.
                        .welcome-item
                            .icon
                                i.mdi-wallet-travel
                            .text
                                h3 Cơ Hội Được Thăng Tiến
                                p Chính sách nhân sự của Kienlongbank ưu tiên đề bạt nhân viên trẻ có năng lực, nhiệt huyết, và có thành tích tốt trong công việc lên các cấp quản lý cấp trung và cấp cao.
                        .welcome-item
                            .icon
                                i.mdi-wallet-travel
                            .text
                                h3 Cơ Hội Được Thăng Tiến
                                p Chính sách nhân sự của Kienlongbank ưu tiên đề bạt nhân viên trẻ có năng lực, nhiệt huyết, và có thành tích tốt trong công việc lên các cấp quản lý cấp trung và cấp cao.
                        p Hãy gia nhập Kienlongbank ngay hôm nay !