<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu Header" value="1" resourcefile="" />
      <add name="Menu Footer" value="2" resourcefile="" />
      <add name="Menu Vị trị tuyển dụng - Sinh viên thực tập" value="4" resourcefile="" />
    </position>

</settings>