section.canhcam-rs-1
	.container
		.row
			.col
				h2.head-title.text-center Hướng dẫn nộp hồ sơ trực tuyến
		.row
			.col-12
				.canhcam-card
					.canhcam-wrapper-content
						ul 1. Đăng ký thành viên: 
							li Trên mục "Tài khoản" chọn "Đăng ký". 
							li Điền đầy đủ thông tin đăng ký và chọn "Đăng ký".
						ul 2. Kích hoạt tài khoản: 
							li Sau khi đăng ký thành công sẽ có yêu cầu kiểm tra email để kích hoạt tài khoản.
							li Nếu đã đăng ký thành công mà không nhận được email kích hoạt tài khoản thì sử dụng chức năng hỗ trợ kích hoạt tài khoản. 
							li Nếu đã nhận được email kích hoạt tài khoản thì tiếp tục làm theo hướng dẫn trong mail để kích hoạt tài khoản.
						ul 3. Đăng nhập: 
							li Điền đầy đủ tên đăng nhập và mật khẩu.
						ul 4. Tạo hồ sơ: 
							li Chọn mục “Tạo/Sửa/Xem hồ sơ” và điền đầy dủ thông tin các bước yêu cầu:
							li Thông tin cá nhân
							li Nguyện vọng làm việc
							li Quá trình đào tạo
							li Kinh nghiệm làm việc
							li Thông tin bổ sung
							li Quan hệ gia đình
						p
							span * 
							span Lưu ý: 
							| Vị trí mà Bạn ứng tuyển phải trùng với vị trí ứng tuyển khi tạo hồ sơ, nếu không trùng bạn phải thay đổi lại vị trí ứng tuyển.
						ul 5. Quản lý quá trình ứng tuyển:
							li Ứng viên theo dõi, quản lý quá trình ứng tuyển và thông tin phản hồi của Ngân hàng. 
					.canhcam-card-image(bg-img='./img/recruitment/submit/submit_1.png')
						figure
							img.w-100.d-lg-none(src='./img/recruitment/submit/submit_1.png', alt='')
    
