section.canhcam-rw-2
	.container
		.mission
			.img.mb-5.text-center.mb-lg-0
				img.img-fluid(src="./img/mainweb/mission/mission_2.png", alt="")
			.bg-img.pt-5.d-none.d-lg-block
				img.w-100(src="./img/mainweb/mission/mission_1.png", alt="")
			.row.mission-list
				.col-lg-4.box
					.item
						h5.kl-title GIÁ TRỊ CỐT LÕI
						p TÂM - TÍN - KIÊN - XANH
				.col-lg-4.box
					.item
						h5.kl-title sứ mệnh
						p Cung cấp dịch vụ ngân hàng chuyên nghiệp, luôn mang lại giá trị gia tăng đối với khách hàng; chia sẻ giá trị Xanh và tiên phong tham gia các chương trình, hoạt động Xanh vì lợi ích phát triển cộng đồng. 
				.col-lg-4.box
					.item
						h5.kl-title tầm nhìn
						p Trở thành thương hiệu Xanh và phát triển bền vững trong ngành Ngân hàng Việt Nam. 
					