section.kienlong-QLQTUngTuyen
    .container
        .row
            .col
                .kienlong-title
                    h2.title Tài khoản
        .row
            .col-lg-4
                include ../TTThanhVien/index.pug
            .col-lg-8
               .form-wrapper
                    .form-title
                        h5 thông tin ứng viên
                    .form-box
                        .form-container
                            .form-row
                                .form-col
                                    p Họ tên
                                .form-col
                                    b Trương Đình Long
                            .form-row
                                .form-col
                                    p Tên đặng nhập
                                .form-col
                                    b DinhLong241
                            .form-row
                                .form-col
                                    p Địa chỉ email
                                .form-col
                                    b Dinhlong241@gmail.com
                            .form-row
                                .form-col
                                .form-col
                                    .list-button
                                        .btn-update
                                            a(href="javascript:void(0)") Chỉnh sửa
               .form-wrapper
                    .form-title
                        h5 thông tin ứng viên
                    .form-box
                        .form-container
                            .form-row
                                .form-col
                                    p Mật khẩu hiện tại
                                .form-col
                                    input(type="text")
                            .form-row
                                .form-col
                                    p Mật khẩu mới
                                .form-col
                                    input(type="text")
                            .form-row
                                .form-col
                                    p Nhập lại mật khẩu mới
                                .form-col
                                    input(type="text")
                            .form-row
                                .form-col
                                .form-col
                                    .list-button
                                        .btn-save
                                            a(href="javascript:void(0)") Lưu
                                        .btn-cancel
                                            a(href="javascript:void(0)") Hủy bỏ