section.canhcam-rh-6
	.container
		.row
			.col
				.head-title.text-center
					h2 Tiêu điểm
		.row
			.col-12.col-lg-4.pr-lg-0
				figure
					img.w-100(src='./img/recruitment/home/home_hot_news.png', alt='')
					figcaption
						h4 Kienlongbank tổ chức đào tạo nhân sự tiềm năng 2018
						p
							|
							span.time 30.11.2017
			.col-12.col-lg-4.pr-lg-0
				figure
					img.w-100(src='./img/recruitment/home/home_hot_news.png', alt='')
					figcaption
						h4 Kienlongbank tổ chức đào tạo nhân sự tiềm năng 2018
						p
							|
							span.time 30.11.2017
			.col-12.col-lg-4.pr-lg-0
				figure
					img.w-100(src='./img/recruitment/home/home_hot_news.png', alt='')
					figcaption
						h4 Kienlongbank tổ chức đào tạo nhân sự tiềm năng 2018
						p
							|
							span.time 30.11.2017
		.row
			.col.text-center
				a(href="#").read-more.main.btn XEM THÊM
