section.canhcam-rh-1
	.menu
		.container
			.row
				.col
					.menu-btn
						h5 Menu
						em.mdi.mdi-chevron-down
	.container
		.row.menu-list
			.col
				ul.list-inline.list-unstyled.d-lg-flex.d-block
					li.list-inline-item
						a(href="#")  Chúng tôi 
							br
							|là
					li.list-inline-item
						a(href="#")  Tại sao chọn 
							br
							|Kienlongbank
					li.list-inline-item
						a(href="#")  Chính sách 
							br
							|nhân sự
					li.list-inline-item
						a(href="#")  Chương trình 
							br
							|đào tạo
					li.list-inline-item
						a(href="#")  hướng dẫn nộp 
							br
							|hồ sơ trực tuyến
					li.list-inline-item
						a(href="#")  Đăng ký nhận 
							br
							|thông báo
					li.list-inline-item.spec
						a(href="#")
							|
							i.fas.fa-user-friends
							| thông báo
					//- .block.d-lg-block
					//- 	a(href="#")
					//- 		li.list-inline-item Hỏi đáp
					//- 			i.fas.fa-user-friends
